@import "main.css";

/*css for aboutPage*/ 
/*about page class*/      
.aboutPage {
  display: block;
  position: absolute;
  box-sizing: content-box;
  opacity: 1;
}

/*media query - tablet/small*/
@media screen and (max-width: 567px){
  .aboutHeader{
    font-size: 30px;
    left: 50px;
    top: 150px;
  }

  .paraHeader{
    font-size: 21px;
  }

  .paragraph{
    font-size: 15px;
  }

  .paraPosition{
    width: 400px;
    height: 717px;
    left: 50px;
    top: 200px;
  }

  .aboutImg{
    width: 400px;
    height: 526px;
    left: 50px;
    top: 820px;
  }

  .caption{
    left: 56px;
    top: 1330px;
  }

}

/*media query - laptop/medium*/
@media screen and (min-width: 568px) {
  .aboutHeader{
    font-size: 40px;
    left: 70px;
    top: 125px;
  }

  .paraHeader{
    font-size: 21px;
  }

  .paragraph{
    font-size: 15px;
  }

  .paraPosition{
    width: 500px;
    height: 717px;
    left: 70px;
    top: 200px;
  }

  .aboutImg{
    width: 450px;
    height: 526px;
    left: 600px;
    top: 160px;
  }

  .caption{
    left: 624px;
    top: 656px;
  }

}

/*media query - desktop/large*/
@media screen and (min-width: 1024px) {
  .aboutHeader{
    font-size: 50px;
    left: 82px;
    top: 150px;
  }

  .paraHeader{
    font-size: 24px;
  }

  .paragraph{
    font-size: 21px;
  }

  .paraPosition{
    width: 900px;
    height: 717px;
    left: 82px;
    top: 260px;
  }

  .aboutImg{
    width: 450px;
    height: 726px;
    left: 1000px;
    top: 160px;
  }

  .caption{
    left: 1024px;
    top: 856px;
  }

}

/*page specific styling*/
/*header styling*/
.aboutPage .aboutHeader {
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  text-align: left;   
  color: rgba(0, 100, 148, 1);   
  font-weight: 700;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  width: 493px;
  height: 116px;
}

.aboutPage .paraHeader{
  color: rgba(0, 53, 84, 1);
  font-weight: 700;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
}

.aboutPage .paragraph{
  color: rgba(0, 53, 84, 1);
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
}

/*paragraphs positioning*/
.aboutPage .paraPosition {
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  text-align: left;
}

/*img styling*/
.aboutPage .aboutImg {
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  background-image: url("assets/cottageInTheMountains.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;  
  border-color: rgba(112, 112, 112, 1);
  border-style: none;
  border-width: 1px; 
}