@import "main.css";


/*css for discoverPageLogedIn*/
/*discover loaded page css*/
.discoverPageLoginedIn {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
}

.discoverPageLoginedIn .repeatGrid1 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  left: 82px;
  top: 164px;
}

/*media query - tablet/small*/
@media screen and (max-width: 567px) {

  /*images*/
  .placementArea0bf60abd {
    left: 0px;
  }

  .placementAreaec54cff5 {
    left: 0px;
    top: 1500px;
  }

  .placementArea4c66a81e{
    left: 0px;
    top: 2000px;
  }

  .placementAreacb4fece3{
    left: 0px;
    top: 500px;
  }

  .placementArea4a28baee{
    left: 0px;
    top: 2500px;
  }

  .placementArea4af999bd{
    left: 0px;
    top: 3000px;
  }

  .placementArea1068a805{
    top: 1000px;
    left: 0px;
  }

  .placementAreaae87f012 {
    top: 3500px;
    left: 0px;
  }

  .placementArea4007455a{
    top: 4000px;
    left: 0px;
  }

  /*titles*/
  .fidan{
    top: 450px;
  }

  .yulia{
    top: 1950px;
    left: 0px;
  }

  .tet{
    top: 2450px;
    left: 0px;
  }

  .mer{
    top: 950px;
  }

  .olena{
    top: 2950px;
    left: 0px;
  }

  .alex{
    top: 3450px;
    left: 0px;
  }

  .man{
    top: 1450px;
  }

  .ethem{
    top: 3950px;
    left: 0px;
  }

  .al{
    top: 4450px;
    left: 0px;
  }


  /*hearts and comments*/
  .metadata-heartbuttonfidan{
    top: 450px;
    left: 280px;
  }

  .metadata-commentsfidan{
    top: 450px;
    left: 330px;
  }

  .metadata-commentsyulia{
    top:1950px;
    left: 330px
  }

  .metadata-heartbuttonyulia{
    top: 1950px;
    left: 280px;
  }

  .metadata-commentstet{
    top: 2450px;
    left: 330px;
  }

  .metadata-heartbuttontet{
    top: 2450px;
    left: 280px;
  }

  .metadata-commentsmer{
    top: 950px;
    left: 330px;
  }

  .metadata-heartbuttonmer{
    top: 950px;
    left: 280px;
  }

  .metadata-commentsolena{
    top: 2950px;
    left: 330px;
  }

  .metadata-heartbuttonolena{
    top: 2950px;
    left: 280px;
  }

  .metadata-commentsalex{
    top:3450px;
    left: 330px;
  }

  .metadata-heartbuttonalex{
    top: 3450px;
    left: 280px;
  }

  .metadata-commentsman{
    left: 330px;
    top: 1450px;
  }

  .metadata-heartbuttonman{
    left: 280px;
    top: 1450px;
  }

  .metadata-commentsethem{
    top: 3950px;
    left: 330px;
  }

  .metadata-heartbuttonethem{
    top: 3950px;
    left: 280px;
  }

  .metadata-commentsali{
    top: 4450px;
    left: 330px;
  }

  .metadata-heartbuttonali{
    top: 4450px;
    left: 280px;
  }
}

/*media query - laptop/medium*/
@media screen and (min-width: 568px) {

  /*images*/
  .placementArea0bf60abd {
    left: 0px;
  }

  .placementAreaec54cff5 {
    left: 500px;
  }

  .placementArea4c66a81e{
    left: 0px;
    top: 1500px;
  }

  .placementAreacb4fece3{
    left: 0px;
    top: 500px;
  }

  .placementArea4a28baee{
    left: 500px;
    top: 500px;
  }

  .placementArea4af999bd{
    left: 500px;
    top: 1500px;
  }

  .placementArea1068a805{
    top: 1000px;
    left: 0px;
  }

  .placementAreaae87f012 {
    top: 1000px;
    left: 500px;
  }

  .placementArea4007455a{
    top: 2000px;
    left: 0px;
  }

  /*titles*/
  .fidan{
    top: 450px;
  }

  .yulia{
    top: 450px;
    left: 500px;
  }

  .tet{
    top: 1950px;
    left: 0px;
  }

  .mer{
    top: 950px;
  }

  .olena{
    top: 950px;
    left: 500px;
  }

  .alex{
    top: 1950px;
    left: 500px;
  }

  .man{
    top: 1450px;
  }

  .ethem{
    top: 1450px;
    left: 500px;
  }

  .al{
    top: 2450px;
    left: 0px;
  }


  /*hearts and comments*/
  .metadata-heartbuttonfidan{
    top: 450px;
    left: 280px;
  }

  .metadata-commentsfidan{
    top: 450px;
    left: 330px;
  }

  .metadata-commentsyulia{
    top:450px;
    left: 830px
  }

  .metadata-heartbuttonyulia{
    top: 450px;
    left: 780px;
  }

  .metadata-commentstet{
    top: 1950px;
    left: 330px;
  }

  .metadata-heartbuttontet{
    top: 1950px;
    left: 280px;
  }

  .metadata-commentsmer{
    top: 950px;
    left: 330px;
  }

  .metadata-heartbuttonmer{
    top: 950px;
    left: 280px;
  }

  .metadata-commentsolena{
    top: 950px;
    left: 830px;
  }

  .metadata-heartbuttonolena{
    top: 950px;
    left: 780px;
  }

  .metadata-commentsalex{
    top: 1950px;
    left: 830px;
  }

  .metadata-heartbuttonalex{
    top: 1950px;
    left: 780px;
  }

  .metadata-commentsman{
    left: 330px;
    top: 1450px;
  }

  .metadata-heartbuttonman{
    left: 280px;
    top: 1450px;
  }

  .metadata-commentsethem{
    top: 1450px;
    left: 830px;
  }

  .metadata-heartbuttonethem{
    top: 1450px;
    left: 780px;
  }

  .metadata-commentsali{
    top: 2450px;
    left: 330px;
  }

  .metadata-heartbuttonali{
    top: 2450px;
    left: 280px;
  }
}

/*media query - desktop/large*/
@media screen and (min-width: 1024px) {

  /*images*/
  .placementArea0bf60abd {
    left: 0px;
  }

  .placementAreaec54cff5 {
    left: 500px;
  }

  .placementArea4c66a81e{
    left: 985px;
    top: 0px;
  }

  .placementAreacb4fece3{
    left: 0px;
    top: 500px;
  }

  .placementArea4a28baee{
    left: 500px;
    top: 500px;
  }

  .placementArea4af999bd{
    left: 985px;
    top: 500px;
  }

  .placementArea1068a805{
    top: 1000px;
    left: 0px;
  }

  .placementAreaae87f012 {
    top: 1000px;
    left: 500px;
  }

  .placementArea4007455a{
    top: 1000px;
    left: 985px;
  }

  /*titles*/
  .fidan{
    top: 450px;
  }

  .yulia{
    top: 450px;
    left: 500px;
  }

  .tet{
    top: 450px;
    left: 985px;
  }

  .mer{
    top: 950px;
  }

  .olena{
    top: 950px;
    left: 500px;
  }

  .alex{
    top: 950px;
    left: 985px;
  }

  .man{
    top: 1450px;
  }

  .ethem{
    top: 1450px;
    left: 500px;
  }

  .al{
    top: 1450px;
    left: 985px;
  }


  /*hearts and comments*/
  .metadata-heartbuttonfidan{
    top: 450px;
    left: 280px;
  }

  .metadata-commentsfidan{
    top: 450px;
    left: 330px;
  }

  .metadata-commentsyulia{
    top:450px;
    left: 830px
  }

  .metadata-heartbuttonyulia{
    top: 450px;
    left: 780px;
  }

  .metadata-commentstet{
    top: 450px;
    left: 1320px;
  }

  .metadata-heartbuttontet{
    top: 450px;
    left: 1270px;
  }

  .metadata-commentsmer{
    top: 950px;
    left: 330px;
  }

  .metadata-heartbuttonmer{
    top: 950px;
    left: 280px;
  }

  .metadata-commentsolena{
    top: 950px;
    left: 830px;
  }

  .metadata-heartbuttonolena{
    top: 950px;
    left: 780px;
  }

  .metadata-commentsalex{
    top:950px;
    left: 1320px;
  }

  .metadata-heartbuttonalex{
    top: 950px;
    left: 1270px;
  }

  .metadata-commentsman{
    left: 330px;
    top: 1450px;
  }

  .metadata-heartbuttonman{
    left: 280px;
    top: 1450px;
  }

  .metadata-commentsethem{
    top: 1450px;
    left: 830px;
  }

  .metadata-heartbuttonethem{
    top: 1450px;
    left: 780px;
  }

  .metadata-commentsali{
    top: 1450px;
    left: 1320px;
  }

  .metadata-heartbuttonali{
    top: 1450px;
    left: 1270px;
  }
}


/*black and white*/
.placementArea0bf60abd {
  background-image: url("assets/placementArea0bf60abd.png");
}

/*sunset on skyliner*/
.placementAreaec54cff5 {
  background-image: url("assets/placementAreaec54cff5.png");
}

/*falling leaves*/
.placementArea4c66a81e {
  background-image: url("assets/placementArea4c66a81e.png");
}

/*waterfall*/
.placementAreacb4fece3 {
  background-image: url("assets/placementAreacb4fece3.png");
}

/*coffee image*/
.placementArea4a28baee {
  background-image: url("assets/placementArea4a28baee.png");
}

/*birds around building*/
.placementArea4af999bd {
  background-image: url("assets/placementArea4af999bd.png");
}

/*guy in suit*/
.placementArea1068a805 {
  background-image: url("assets/placementArea1068a805.png");
}

/*guy in black jacket*/
.placementAreaae87f012 {
  background-image: url("assets/placementAreaae87f012.png");
}

/*mirror in the sand*/
.placementArea4007455a {
  background-image: url("assets/placementArea4007455a.png");
}



/*seach button code*/
/* .discoverPageLoginedIn .searchbutton {

  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-color: transparent;
  width: 132.00px;
  height: 48.00px;
  left: 1237.00px;
  top: 44.00px;

}

.discoverPageLoginedIn .searchbutton .rectangle22 {
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-color: transparent;
  border-color: rgba(112, 112, 112, 1);
  border-style: none;
  border-width: 1.00px;
  border-radius: 24.00px;
  width: 132.00px;
  height: 48.00px;

}

.discoverPageLoginedIn .searchbutton .search {
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  color: rgba(0, 53, 84, 1);
  font-size: 28.00px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
  width: 102.00px;
  height: 34.00px;
  left: 21.00px;
  top: 7.00px;

}

.discoverPageLoginedIn .searchbutton .iconAwesomeSearch {
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  fill: rgba(0, 0, 0, 1);
  width: 32.00px;
  height: 32.00px;
  left: 81.00px;
  top: 8.00px;

} */