
/*class for discover not loggedin*/ 

/*need to include css for the responsiveness - media queries*/
/*reogranzie to make sense*/
/*try to combine classes into one*/
/*when theres time remain everything to make sense*/
/*tidy code up*/

/*body class*/ 
body {
  font-family: 'Open Sans', serif;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  background-color: rgba(250, 247, 240, 1);
  }



.discoverPageNotLoggedIn {
  display: block;
  position: absolute;
  box-sizing: content-box;
  opacity: 1;
  background-color: rgba(250, 247, 240, 1);
  width: 1536px;
  height: 1118.4px;
}

.discoverPageNotLoggedIn .group3 {

display: block;
position: absolute;
box-sizing: content-box;
opacity: 1;

background-color: transparent;
width: 1750.00px;
height: 817.00px;
left: 85.00px;
top: 164.00px;

}

.discoverPageNotLoggedIn .group3 .image64a36563 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 542.00px;
height: 817.00px;
left: 604.00px;


}

.discoverPageNotLoggedIn .group3 .image64a36563 .metadataba40d000 {
position: absolute;
box-sizing: content-box;
display: none;

opacity: 1;


background-color: rgba(255, 255, 255, 0);
text-align: left;
letter-spacing: 0.00px;
color: transparent;

font-size: 3.00px;
font-weight: 400;
font-style: normal;
font-family: Arial;
text-decoration: none;

width: 10.00px;
height: 10.00px;


}

.discoverPageNotLoggedIn .group3 .image64a36563 .placementArea445d40ab {
position: absolute;
box-sizing: content-box;

transform-origin: center;
background-image: url("assets/DiscoverplacementArea445d40ab.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
border-color: rgba(62, 62, 62, 1);
border-style: none;
border-width: 2.00px;


width: 542.00px;
height: 817.00px;


}

.discoverPageNotLoggedIn .group3 .image3eb1b47b {
display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 542.00px;
height: 817.00px;


}

.discoverPageNotLoggedIn .group3 .image3eb1b47b .metadata82b78274 {
position: absolute;
box-sizing: content-box;
display: none;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;
letter-spacing: 0.00px;
color: transparent;

font-size: 3.00px;
font-weight: 400;
font-style: normal;
font-family: Arial;
text-decoration: none;

width: 10.00px;
height: 10.00px;


}

.discoverPageNotLoggedIn .group3 .image3eb1b47b .placementArea60797db9 {
position: absolute;
box-sizing: content-box;

transform-origin: center;
background-image: url("assets/DiscoverplacementArea60797db9.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
border-color: rgba(62, 62, 62, 1);
border-style: none;
border-width: 2.00px;

width: 542.00px;
height: 817.00px;


}

.discoverPageNotLoggedIn .group3 .imageefa3383c {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;


background-color: transparent;
width: 542.00px;
height: 817.00px;
left: 1208.00px;


}

.discoverPageNotLoggedIn .group3 .imageefa3383c .metadata1484fb7b {
position: absolute;
box-sizing: content-box;
display: none;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;
letter-spacing: 0.00px;
color: transparent;

font-size: 3.00px;
font-weight: 400;
font-style: normal;
font-family: Arial;

width: 10.00px;
height: 10.00px;


}

.discoverPageNotLoggedIn .group3 .imageefa3383c .placementArea3aadfbe6 {
position: absolute;
box-sizing: content-box;

transform-origin: center;
background-image: url("assets/DiscoverplacementArea3aadfbe6.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
border-color: rgba(62, 62, 62, 1);
border-style: none;
border-width: 2.00px;


width: 542.00px;
height: 817.00px;


}

.discoverPageNotLoggedIn .line1 {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

stroke: rgba(112, 112, 112, 1);
    stroke-width: 1.00px;
    stroke-linecap: butt;

width: 1836.00px;
height: 2.00px;
left: 42.50px;
top: 106.00px;

}

.discoverPageNotLoggedIn .about {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;
letter-spacing: 0.00px;
color: rgba(0, 53, 84, 1);

font-size: 20.00px;
font-weight: 400;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;

white-space: pre;
width: 54.00px;
height: 24.00px;
left: 1675.00px;
top: 54.00px;

}

.discoverPageNotLoggedIn .rectangle3 {
position: absolute;
box-sizing: border-box;

transform-origin: center;
opacity: 1;

background-color: rgba(5, 130, 202, 1);
border-color: rgba(112, 112, 112, 1);
border-style: solid;
border-width: 1.00px;

border-radius: 10.00px;


width: 121.00px;
height: 36.00px;
left: 1758.00px;
top: 48.00px;

}

.discoverPageNotLoggedIn .logIn {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;

color: rgba(255, 255, 255, 1);

font-size: 15.00px;
font-weight: 700;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;

white-space: pre;
width: 40.00px;
height: 18.00px;
left: 1794.00px;
top: 57.00px;

}

.discoverPageNotLoggedIn .memberships {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;

color: rgba(0, 53, 84, 1);

font-size: 20.00px;
font-weight: 400;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;

white-space: pre;
width: 119.00px;
height: 24.00px;
left: 1527.00px;
top: 54.00px;

}

.discoverPageNotLoggedIn .discover {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;
letter-spacing: 0.00px;
color: rgba(5, 130, 202, 1);

font-size: 20.00px;
font-weight: 400;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;

white-space: pre;
width: 77.00px;
height: 24.00px;
left: 1423.00px;
top: 55.00px;

}

.discoverPageNotLoggedIn .group30 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 515.00px;
height: 54.00px;
left: 563.00px;
top: 992.00px;

}

.discoverPageNotLoggedIn .group30 .ahmed {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
cursor: default;
background-color: rgba(255, 255, 255, 0);
text-align: left;
color: rgba(0, 53, 84, 1);
font-size: 45.00px;
font-weight: 500;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;
white-space: pre;
width: 391.00px;
height: 54.00px;
left: 124.00px;
top: 0.00px;

}

.discoverPageNotLoggedIn .group30 .x15k {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;

color: rgba(0, 53, 84, 1);
-webkit-text-stroke: unset;
font-size: 35.00px;
font-weight: 400;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;

white-space: pre;
width: 67.00px;
height: 42.00px;
top: 6.00px;

}

.discoverPageNotLoggedIn .group10 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 1750.00px;
height: 777.00px;
left: 85.00px;
top: 1079.00px;

}

.discoverPageNotLoggedIn .group10 .imagee52cc76e {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 542.00px;
height: 777.00px;


}

.discoverPageNotLoggedIn .group10 .imagee52cc76e .metadata875427aa {
position: absolute;
box-sizing: content-box;
display: none;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;

color: transparent;

font-size: 3.00px;
font-weight: 400;
font-style: normal;
font-family: Arial;
text-decoration: none;

width: 10.00px;
height: 10.00px;


}

/*img is not coming through all of the way*/
.discoverPageNotLoggedIn .group10 .imagee52cc76e .placementArea5fc55080 {
position: absolute;
box-sizing: content-box;

transform-origin: center;
background-image: url("assets/DiscoverplacementArea.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
border-color: rgba(62, 62, 62, 1);
border-style: none;
border-width: 2.00px;

box-shadow: none;
width: 542.00px;
height: 777.00px;


}

.discoverPageNotLoggedIn .group10 .imaged0ef2bd8 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 542.00px;
height: 777.00px;

}

.discoverPageNotLoggedIn .group10 .imaged0ef2bd8 .metadata27ca3680 {
position: absolute;
box-sizing: content-box;
display: none;
transform-origin: center;
opacity: 1;
background-color: rgba(255, 255, 255, 0);
text-align: left;
color: transparent;
font-size: 3.00px;
font-weight: 400;
font-style: normal;
font-family: Arial;
text-decoration: none;
width: 10.00px;
height: 10.00px;

}

.discoverPageNotLoggedIn .group10 .imaged0ef2bd8 .placementArea71ab59bd {
position: absolute;
box-sizing: content-box;

transform-origin: center;
background-image: url("assets/DiscoverplacementArea71ab59bd.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
border-color: rgba(62, 62, 62, 1);
border-style: none;
border-width: 2.00px;


width: 542.00px;
height: 777.00px;


}

.discoverPageNotLoggedIn .group10 .image {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 542.00px;
height: 777.00px;
left: 1208.00px;


}

.discoverPageNotLoggedIn .group10 .image .metadata {
position: absolute;
box-sizing: content-box;
display: none;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;

color: transparent;

font-size: 3.00px;
font-weight: 400;
font-style: normal;
font-family: Arial;
text-decoration: none;

width: 10.00px;
height: 10.00px;


}

.discoverPageNotLoggedIn .group10 .image .placementArea {
position: absolute;
box-sizing: content-box;

transform-origin: center;
background-image: url("assets/DiscoverplacementArea5fc55080.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
border-color: rgba(62, 62, 62, 1);
border-style: none;
border-width: 2.00px;


width: 542.00px;
height: 777.00px;


}

.discoverPageNotLoggedIn .group28 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;
cursor: default;

background-color: transparent;
width: 61.00px;
height: 42.00px;
left: 1168.00px;
top: 996.00px;

}

.discoverPageNotLoggedIn .group28 .x900 {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;

color: rgba(0, 53, 84, 1);

font-size: 35.00px;
font-weight: 400;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;

white-space: pre;
width: 61.00px;
height: 42.00px;


}

.discoverPageNotLoggedIn .logo {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: transparent;
width: 67.00px;
height: 67.00px;
left: 48.50px;
top: 21.50px;

}

.discoverPageNotLoggedIn .logo .group26 {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
background-image: url("assets/group26.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 1;
background-color: transparent;
width: 67.00px;
height: 67.00px;

}

.discoverPageNotLoggedIn .logo .group26 .path6 {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
fill: rgba(0, 112, 186, 1);
stroke: rgba(0, 0, 0, 0);
    stroke-width: 1.00px;
    stroke-linecap: butt;
box-shadow: none;
width: 69.00px;
height: 69.00px;
left: -1.00px;
top: -1.00px;

}

.discoverPageNotLoggedIn .logo .group26 .path7 {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
fill: rgba(0, 41, 66, 1);
stroke: rgba(0, 0, 0, 0);
    stroke-width: 1.00px;
    stroke-linecap: butt;
width: 52.98px;
height: 51.07px;
left: 6.56px;
top: 7.97px;

}

.discoverPageNotLoggedIn .logo .group26 .path8 {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
fill: rgba(255, 255, 255, 1);
stroke: rgba(0, 0, 0, 0);
    stroke-width: 1.00px;
    stroke-linecap: butt;
width: 5.76px;
height: 28.08px;
left: 30.56px;
top: 19.46px;

}

.discoverPageNotLoggedIn .logo .group26 .path9 {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
fill: rgba(255, 255, 255, 1);
stroke: rgba(0, 0, 0, 0);
    stroke-width: 1.00px;
    stroke-linecap: butt;
width: 27.41px;
height: 5.63px;
left: 19.80px;
top: 30.68px;

}

.discoverPageNotLoggedIn .logo .group26 .rectangle20 {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: rgba(255, 255, 255, 0);
border-color: rgba(0, 0, 0, 0);
border-style: solid;
border-width: 1.00px;


width: 66.00px;
height: 66.00px;
left: -0.50px;
top: -0.50px;

}

.discoverPageNotLoggedIn .textLogo {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: transparent;
width: 151.00px;
height: 60.00px;
left: 126.00px;
top: 24.00px;

}

.discoverPageNotLoggedIn .textLogo .lenses {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: rgba(255, 255, 255, 0);
text-align: left;
color: rgba(5, 130, 202, 1);
font-size: 50.00px;
font-weight: 600;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;
white-space: pre;
width: 151.00px;
height: 60.00px;

}

.discoverPageNotLoggedIn .group47 {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: transparent;
width: 466.35px;
height: 54.00px;
left: 87.00px;
top: 992.00px;

}

.discoverPageNotLoggedIn .group47 .kate {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: rgba(255, 255, 255, 0);
text-align: left;
color: rgba(0, 53, 84, 1);
font-size: 45.00px;
font-weight: 500;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;
white-space: pre;
width: 391.00px;
height: 54.00px;

}

.discoverPageNotLoggedIn .group47 .heartbutton477d2443 {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: transparent;
width: 31.35px;
height: 27.35px;
left: 435.00px;
top: 16.00px;

}

.discoverPageNotLoggedIn .group47 .heartbutton477d2443 .iconFeatherHeartbaeb31ac {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
fill: transparent;
stroke: rgba(5, 130, 202, 1);
    stroke-width: 3.00px;
    stroke-linecap: round;
box-shadow: none;
width: 37.35px;
height: 33.35px;
left: -3.00px;
top: -3.00px;

}

.discoverPageNotLoggedIn .heartbuttonfc143a52 {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: transparent;
width: 31.35px;
height: 27.35px;
left: 1128.00px;
top: 1003.00px;

}

.discoverPageNotLoggedIn .heartbuttonfc143a52 .iconFeatherHeart9fbb0063 {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
fill: transparent;
stroke: rgba(5, 130, 202, 1);
    stroke-width: 3.00px;
    stroke-linecap: round;
box-shadow: none;
width: 37.35px;
height: 33.35px;
left: -3.00px;
top: -3.00px;

}

.discoverPageNotLoggedIn .group46 {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: transparent;
width: 548.00px;
height: 54.00px;
left: 1287.00px;
top: 988.00px;

}

.discoverPageNotLoggedIn .group46 .mathildeLangevin {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: rgba(255, 255, 255, 0);
text-align: left;
color: rgba(0, 53, 84, 1);
font-size: 45.00px;
font-weight: 500;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;
white-space: pre;
width: 391.00px;
height: 54.00px;

}

.discoverPageNotLoggedIn .group46 .group45 {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: transparent;
width: 92.68px;
height: 42.00px;
left: 455.32px;
top: 6.00px;

}

.discoverPageNotLoggedIn .group46 .group45 .x10kf8dc0012 {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: rgba(255, 255, 255, 0);
text-align: left;
color: rgba(0, 53, 84, 1);
font-size: 35.00px;
font-weight: 400;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;
white-space: pre;
width: 58.00px;
height: 42.00px;
left: 34.68px;

}

.discoverPageNotLoggedIn .group46 .group45 .heartbutton24686ef5 {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: transparent;
width: 31.35px;
height: 27.35px;
top: 7.00px;

}

.discoverPageNotLoggedIn .group46 .group45 .heartbutton24686ef5 .iconFeatherHeart9a98b339 {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
fill: transparent;
stroke: rgba(5, 130, 202, 1);
    stroke-width: 3.00px;
    stroke-linecap: round;
box-shadow: none;
width: 37.35px;
height: 33.35px;
left: -3.00px;
top: -3.00px;

}

.discoverPageNotLoggedIn .group53 {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: transparent;
width: 552.00px;
height: 54.00px;
left: 1287.00px;
top: 1867.00px;

}

.discoverPageNotLoggedIn .group53 .x10k {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: rgba(255, 255, 255, 0);
text-align: left;
color: rgba(0, 53, 84, 1);
font-size: 35.00px;
font-weight: 400;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;
white-space: pre;
width: 58.00px;
height: 42.00px;
left: 494.00px;
top: 6.00px;

}

.discoverPageNotLoggedIn .group53 .group52 {

display: block;
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: transparent;
width: 486.68px;
height: 54.00px;

}

.discoverPageNotLoggedIn .group53 .group52 .vladaKarpovich {
position: absolute;
box-sizing: content-box;
transform-origin: center;
opacity: 1;
background-color: rgba(255, 255, 255, 0);
text-align: left;
color: rgba(0, 53, 84, 1);

font-size: 45.00px;
font-weight: 500;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;
white-space: pre;
width: 391.00px;
height: 54.00px;


}

.discoverPageNotLoggedIn .group53 .group52 .heartbuttondbb66cd7 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 31.35px;
height: 27.35px;
left: 455.32px;
top: 13.00px;

}

.discoverPageNotLoggedIn .group53 .group52 .heartbuttondbb66cd7 .iconFeatherHeart35dcf175 {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

fill: transparent;
stroke: rgba(5, 130, 202, 1);
    stroke-width: 3.00px;
    stroke-linecap: round;

width: 37.35px;
height: 33.35px;
left: -3.00px;
top: -3.00px;

}

.discoverPageNotLoggedIn .group49 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 543.00px;
height: 54.00px;
left: 87.00px;
top: 1867.00px;

}

.discoverPageNotLoggedIn .group49 .x75k {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;

color: rgba(0, 53, 84, 1);

font-size: 35.00px;
font-weight: 400;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;

white-space: pre;
width: 67.00px;
height: 42.00px;
left: 476.00px;
top: 6.00px;

}

.discoverPageNotLoggedIn .group49 .group48 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 466.35px;
height: 54.00px;


}

.discoverPageNotLoggedIn .group49 .group48 .aliRamazanCiftci {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;

color: rgba(0, 53, 84, 1);

font-size: 45.00px;
font-weight: 500;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;

white-space: pre;
width: 391.00px;
height: 54.00px;

}

.discoverPageNotLoggedIn .group49 .group48 .heartbutton9e2bfe52 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 31.35px;
height: 27.35px;
left: 435.00px;
top: 13.00px;

}

.discoverPageNotLoggedIn .group49 .group48 .heartbutton9e2bfe52 .iconFeatherHeart430be103 {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

fill: transparent;
stroke: rgba(5, 130, 202, 1);
    stroke-width: 3.00px;
    stroke-linecap: round;
box-shadow: none;
width: 37.35px;
height: 33.35px;
left: -3.00px;
top: -3.00px;

}

.discoverPageNotLoggedIn .group51 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 548.00px;
height: 54.00px;
left: 687.00px;
top: 1867.00px;

}

.discoverPageNotLoggedIn .group51 .x64k {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;


background-color: rgba(255, 255, 255, 0);
text-align: left;

color: rgba(0, 53, 84, 1);

font-size: 35.00px;
font-weight: 400;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;

white-space: pre;
width: 67.00px;
height: 42.00px;
left: 481.00px;
top: 9.00px;

}

.discoverPageNotLoggedIn .group51 .group50 {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 472.35px;
height: 54.00px;


}

.discoverPageNotLoggedIn .group51 .group50 .artrasKokorevas {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: rgba(255, 255, 255, 0);
text-align: left;

color: rgba(0, 53, 84, 1);

font-size: 45.00px;
font-weight: 500;
font-style: normal;
font-family: Lato, Arial;
text-decoration: none;

white-space: pre;
width: 391.00px;
height: 54.00px;


}

.discoverPageNotLoggedIn .group51 .group50 .heartbutton {

display: block;
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

background-color: transparent;
width: 31.35px;
height: 27.35px;
left: 441.00px;
top: 13.00px;

}

.discoverPageNotLoggedIn .group51 .group50 .heartbutton .iconFeatherHeart {
position: absolute;
box-sizing: content-box;

transform-origin: center;
opacity: 1;

fill: transparent;
stroke: rgba(5, 130, 202, 1);
    stroke-width: 3.00px;
    stroke-linecap: round;
box-shadow: none;
width: 37.35px;
height: 33.35px;
left: -3.00px;
top: -3.00px;

}

