@import "main.css";


/*css for followingPage*/ 
/*following page css*/
.followingPage {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
}

/*media query - tablet/small*/
@media screen and (max-width: 567px) {
.fheader{
  font-size: 30px;
  left: 225px;
}

.repeatGrid2{
  left: -30px;
}

.fimagesizing{
  width: 412px;
  height: 509px;
}

.placementArea32bf0548{
  top: 620px;
}

.placementAreacb4fece3{
  top: 1220px;
}

/*text and icon styling and position*/
/*title stying*/
.metadata-titleumb{
  font-size: 25px;
  top: 520px;
  left: 100px;
}

.metadata-titlepol{
  font-size: 25px;
  left: 90px;
  top: 1140px;
}

.metadata-titlegon{
  font-size: 25px;
  left: 100px;
  top: 1730px;
}

/*comments and heartstyling*/
.metadata-commentsumb{
  width: 28.35px;
  height: 22.45px;
  left: 470px;
  top: 520px;
}

.metadata-commentspol{
  width: 28.35px;
  height: 22.45px;
  left: 470px;
  top: 1140px;
}

.metadata-commentsgon{
  width: 28.35px;
  height: 22.45px;
  left: 470px;
  top: 1730px;
}

.metadata-heartbuttonumb{
  width: 21.95px;
  height: 19.15px;
  left: 440px;
  top: 520px;
}

.metadata-heartbuttonpol{
  top: 1140px;
  left: 440px;
  width: 21.95px;
  height: 19.15px;
}

.metadata-heartbuttongon{
  width: 21.95px;
  height: 19.15px;
  left: 440px;
  top: 1730px;
}

}

/*media query - laptop/medium*/
@media screen and (min-width: 568px) {
.fheader{
  left: 400px;
  font-size: 50px;
}

.repeatGrid2{
  left: 50px;
}

.fimagesizing{
  width: 832px;
  height: 1017px;
}

.placementArea32bf0548{
  top: 1120px;
}

.placementAreacb4fece3{
  top: 2250px;
}

/*title stying*/
.metadata-titleumb{
  font-size: 50px;
  top: 1020px;
  left: 100px;
}

.metadata-titlepol{
  font-size: 50px;
  left: 80px;
  top: 2140px;
}

.metadata-titlegon{
  font-size: 50px;
  left: 100px;
  top: 3270px;
}

/*comments and heartstyling*/
.metadata-commentsumb{
  width: 40.5px;
  height: 31.5px;
  left: 880px;
  top: 1030px;
}

.metadata-commentspol{
  width: 40.5px;
  height: 31.5px;
  left: 880px;
  top: 2150px;
}

.metadata-commentsgon{
  width: 40.5px;
  height: 31.5px;
  left: 880px;
  top: 3280px;
}

.metadata-heartbuttonumb{
  width: 31.35px;
  height: 27.35px;
  left: 835px;
  top: 1030px;
}

.metadata-heartbuttonpol{
  top: 2150px;
  left: 835px;
  width: 31.35px;
  height: 27.35px;
}

.metadata-heartbuttongon{
  width: 31.35px;
  height: 27.35px;
  left: 835px;
  top: 3280px;
}
}

/*media query - desktop/large*/
@media screen and (min-width: 1024px) {
.fheader{
  left: 400px;
  font-size: 50px;
}

.repeatGrid2{
  left: 282px;
}

.fimagesizing{
  width: 832px;
  height: 1017px;
}

.placementArea32bf0548{
  top: 1120px;
}

.placementAreacb4fece3{
  top: 2250px;
}

/*title stying*/
.metadata-titleumb{
  font-size: 50px;
  top: 1020px;
  left: 100px;
}

.metadata-titlepol{
  font-size: 50px;
  left: 80px;
  top: 2140px;
}

.metadata-titlegon{
  font-size: 50px;
  left: 100px;
  top: 3270px;
}

/*comments and heartstyling*/
.metadata-commentsumb{
  width: 40.5px;
  height: 31.5px;
  left: 880px;
  top: 1030px;
}

.metadata-commentspol{
  width: 40.5px;
  height: 31.5px;
  left: 880px;
  top: 2150px;
}

.metadata-commentsgon{
  width: 40.5px;
  height: 31.5px;
  left: 880px;
  top: 3280px;
}

.metadata-heartbuttonumb{
  width: 31.35px;
  height: 27.35px;
  left: 835px;
  top: 1030px;
}

.metadata-heartbuttonpol{
  top: 2150px;
  left: 835px;
  width: 31.35px;
  height: 27.35px;
}

.metadata-heartbuttongon{
  width: 31.35px;
  height: 27.35px;
  left: 835px;
  top: 3280px;
}
}

/*image sizing and header styling*/
.fimagesizing{
  left: 100px;
}

/*image placement*/
.placementAreaf0e6fbb3{
  left:100px;
}

.repeatGrid2 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  top: 200px;
}

/*birds and buildings*/
.placementAreaf0e6fbb3 {
  background-image: url("assets/placementAreaf0e6fbb3.png");
}


/*building*/
.placementArea32bf0548 {
  background-image: url("assets/placementArea32bf0548.png");
}


/*waterfall*/
.placementAreacb4fece3 {
  background-image: url("assets/placementAreacb4fece3.png");
}


/*search button css*/
/* .followingPage .searchbutton {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 132.00px;
    height: 48.00px;
    left: 1237.00px;
    top: 44.00px;

}

.followingPage .searchbutton .rectangle22 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      border-color: rgba(112, 112, 112, 1);
      border-style: none;
      border-width: 1.00px;
      border-radius: 24.00px;
      width: 132.00px;
    height: 48.00px;

}

.followingPage .searchbutton .search {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 0;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 28.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 102.00px;
    height: 34.00px;
    left: 21.00px;
    top: 7.00px;

}

.followingPage .searchbutton .iconAwesomeSearch {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 0, 0, 1);
      width: 32.00px;
    height: 32.00px;
    left: 81.00px;
    top: 8.00px;

} */