@import "main.css";

/*css for followingPageSpecific*/ 
/*following page specific css*/
.followingPageSpecific {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
}

/*media query - tablet/small*/
@media screen and (max-width: 567px) {

}

/*media query - laptop/medium*/
@media screen and (min-width: 568px) {

}

/*media query - desktop/large*/
@media screen and (min-width: 1024px) {
  
}

.border {
  position: absolute;
  box-sizing: border-box;
  transform-origin: center;
  opacity: 0.8899999856948853;
  background-color: transparent;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 1446px;
  height: 2898px;
  left: 40px;
  top: 210px;
}

.fimagesize{
  width: 832px;
  height: 1208px;
  left: 350px;
  top: 230px;
}

.title{
  font-size: 50px;
  left: 650px;
  top:130px;
}
    
.followingPageSpecific .image .placementArea {
  background-image: url("assets/placementArea32bf0548.png");
}

.commentBox {
  position: absolute;
  box-sizing: border-box;
  transform-origin: center;
  opacity: 1;
  fill: rgba(5, 130, 202, 0.27058823529411763);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1.00px;
  stroke-linecap: butt;
   
  /*add this to media queries*/
  width: 1386.66px;
  height: 1636.48px;
  left: 70px;
  top: 1465px;
}

.imagetitle{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  text-align: left;
  color: rgba(34, 34, 34, 1);
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
  
  /*add this to media queries*/
  left: 100px;
  top: 1494px;
}

.imagedetailsstyling{
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  color: rgba(34, 34, 34, 1);
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}

/*add this to media queries*/
.section1{
  position: absolute;
  top: 1570px;
}

.section2{
  position: absolute;
  top: 1600px;
}

.section3{
  position: absolute;
  top: 1630px;
}

.section4{
  position: absolute;
  top: 1660px;
}

.section5{
  position: absolute;
  top: 1690px;
}

.section6{
  position: absolute;
  top: 1720px;
}

.section7{
  position: absolute;
  top: 1750px;
}

.section8{
  position: absolute;
  top: 1780px;
}

.section9{
  position: absolute;
  top: 1810px;
}

.section10{
  position: absolute;
  top: 1840px;
}

.section11{
  position: absolute;
  top: 1870px;
}


.commentTitle{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  text-align: left;
  color: rgba(34, 34, 34, 1);
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
  
  /*add this to media queries*/
  left: 100px;
  top: 1994px;
}

.commentstitle{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  text-align: left;
  color: rgba(112, 112, 112, 1);
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}

.commentText{
  position: absolute;
  box-sizing: content-box;
  opacity: 1;
  text-align: left;
  color: rgba(112, 112, 112, 1);
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}

/*comment profile images and styling*/
.profileStyling{
  position: absolute;
  box-sizing: border-box;
  transform-origin: center; 
  stroke: rgba(112, 112, 112, 1);
  opacity: 1;
  stroke-width: 3px;
  stroke-linecap: butt;
  box-shadow: none;
  width: 102px;
  height: 102px;

  /*add this to media queries*/
  left: 100px;
}

/*add this to media queries*/
.jm{
  left: 210px;
  top: 2085px;
}

.jmcomment{
  left: 210px;
  top:2120px;
}

.jmimage{
  background-image: url(assets/placementjm.png);
  top: 2080px;   
}

.vn{
  left: 210px;
  top: 2200px;
}

.vncomment{
  left: 210px;
  top: 2230px;
}

.vnimage{
  background-image: url(assets/placementvn.png);
  top: 2200px;
}

.rm{
  left: 210px;
  top: 2330px;
}

.rmcomment{
  left: 210px;
  top: 2360px;
}

.rmimage{
  background-image: url(assets/placementrm.png);
  top: 2320px;
}

.zr{
  left: 210px;
  top:2450px;
}

.zrcomment{
  left: 210px;
  top: 2480px;
}

.zrimage{
  background-image: url(assets/placementzr.png);
  top: 2440px;
}

.cm{
  left: 210px;
  top: 2570px;
}

.cmcomment{
  left: 210px;
  top: 2600px;
}

.cmimage{
  background-image: url(assets/placementcm.png);
  top: 2560px;
}

.rh{
  left: 210px;
  top: 2700px;
}

.rhcomment{
  top: 2730px;
  left:210px;
}

.rhimage{
  background-image: url(assets/placementrh.png);
  top: 2690px;
}

.jb{
  left: 210px;
  top: 2840px;
}

.jbcomment{
  left: 210px;
  top: 2870px;
}

.jbimage{
  background-image: url(assets/placementjb.png);
  top: 2840px;
}

.followingPageSpecific .iconAwesomeArrowLeft {
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  fill: rgba(0, 53, 84, 1);
  box-shadow: none;
  width: 41.50px;
  height: 40.45px;
  
  /*add this to media queries*/
  left: 76.25px;
  top: 124.00px;
}