/*class for followingPage*/ 

/*need to include css for the responsiveness - media queries*/
/*reogranzie to make sense*/
/*try to combine classes into one*/
/*tidy up code*/
/*when theres time remain everything to make sense*/

/*body class*/
body {
  font-family: 'Open Sans', serif;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  background-color: rgba(250, 247, 240, 1);
  }

      .followingPage {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(250, 247, 240, 1);
      width: 1920.00px;
    height: 3108.00px;

}

.followingPage .line1 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 1836.00px;
    height: 2.00px;
    left: 42.50px;
    top: 106.00px;

}

.followingPage .profile {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 57.00px;
    height: 24.00px;
    left: 1675.00px;
    top: 56.00px;

}

.followingPage .searchbutton{
   position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 57.00px;
    height: 24.00px;
    left: 1675.00px;
    top: 56.00px;

}

.followingPage .rectangle3 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(5, 130, 202, 1);
      border-color: rgba(112, 112, 112, 1);
      border-style: solid;
      border-width: 1.00px;
      border-radius: 10.00px;
      width: 121.00px;
    height: 36.00px;
    left: 1758.00px;
    top: 48.00px;

}

.followingPage .post {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(255, 255, 255, 1);
      font-size: 15.00px;
      font-weight: 700;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 30.00px;
    height: 18.00px;
    left: 1790.00px;
    top: 57.00px;

}

.followingPage .help {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 41.00px;
    height: 24.00px;
    left: 1608.00px;
    top: 56.00px;

}

.followingPage .discover {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 77.00px;
    height: 24.00px;
    left: 1505.00px;
    top: 56.00px;

}

.followingPage .followingc5034df9 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(5, 130, 202, 1);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 84.00px;
    height: 24.00px;
    left: 1395.00px;
    top: 56.00px;

}

.followingPage .repeatGrid2 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 832.00px;
    height: 2877.00px;
    left: 544.00px;
    top: 231.00px;

}

.followingPage .repeatGrid2 .group36f219f135 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 832.00px;
    height: 1101.50px;

}

.followingPage .repeatGrid2 .group36f219f135 .image43e9cc0f {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 832.00px;
    height: 1017.00px;

}

.followingPage .repeatGrid2 .group36f219f135 .image43e9cc0f .metadatabcc0b1ad {
    position: absolute;
      box-sizing: content-box;
      display: none;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: transparent;
      font-size: 3.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Arial;
      text-decoration: none;
      width: 10.00px;
    height: 10.00px;

}

.followingPage .repeatGrid2 .group36f219f135 .image43e9cc0f .placementAreaf0e6fbb3 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      background-image: url("assets/placementAreaf0e6fbb3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      border-color: rgba(62, 62, 62, 1);
      border-style: none;
      border-width: 2.00px;
      width: 832.00px;
    height: 1017.00px;

}

.followingPage .repeatGrid2 .group36f219f135 .group35a8b6a360 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 819.30px;
    height: 60.00px;
    left: 6.35px;
    top: 1041.50px;

}

.followingPage .repeatGrid2 .group36f219f135 .group35a8b6a360 .group34e0209913 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 819.30px;
    height: 60.00px;

}

.followingPage .repeatGrid2 .group36f219f135 .group35a8b6a360 .group34e0209913 .alexUmbelino {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 50.00px;
      font-weight: 500;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 500.00px;
    height: 60.00px;

}

.followingPage .repeatGrid2 .group36f219f135 .group35a8b6a360 .group34e0209913 .iconAwesomeCommentsb20191c3 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 0, 0, 1);
      width: 40.50px;
    height: 31.50px;
    left: 778.80px;
    top: 14.00px;

}

.followingPage .repeatGrid2 .group36f219f135 .group35a8b6a360 .group34e0209913 .heartbuttond4740013 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 31.35px;
    height: 27.35px;
    left: 735.65px;
    top: 16.33px;

}

.followingPage .repeatGrid2 .group36f219f135 .group35a8b6a360 .group34e0209913 .heartbuttond4740013 .iconFeatherHeartef3d57fd {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: transparent;
      stroke: rgba(5, 130, 202, 1);
          stroke-width: 3.00px;
          stroke-linecap: round;
      width: 37.35px;
    height: 33.35px;
    left: -3.00px;
    top: -3.00px;

}

.followingPage .repeatGrid2 .group360f95c002 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 832.00px;
    height: 1101.50px;
    top: 1122.00px;

}

.followingPage .repeatGrid2 .group360f95c002 .image7e405a3f {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 832.00px;
    height: 1017.00px;

}

.followingPage .repeatGrid2 .group360f95c002 .image7e405a3f .metadatafc02e834 {
    position: absolute;
      box-sizing: content-box;
      display: none;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: transparent;
      font-size: 3.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Arial;
      text-decoration: none;
      width: 10.00px;
    height: 10.00px;

}

.followingPage .repeatGrid2 .group360f95c002 .image7e405a3f .placementArea32bf0548 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      background-image: url("assets/placementArea32bf0548.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      border-color: rgba(62, 62, 62, 1);
      border-style: none;
      border-width: 2.00px;
      width: 832.00px;
    height: 1017.00px;

}

.followingPage .repeatGrid2 .group360f95c002 .group35666d381a {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 819.30px;
    height: 60.00px;
    left: 6.35px;
    top: 1041.50px;

}

.followingPage .repeatGrid2 .group360f95c002 .group35666d381a .group3415d1522b {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 819.30px;
    height: 60.00px;

}

.followingPage .repeatGrid2 .group360f95c002 .group35666d381a .group3415d1522b .polinaChistyakova {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 50.00px;
      font-weight: 500;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 500.00px;
    height: 60.00px;

}

.followingPage .repeatGrid2 .group360f95c002 .group35666d381a .group3415d1522b .iconAwesomeComments281768cc {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 0, 0, 1);
      width: 40.50px;
    height: 31.50px;
    left: 778.80px;
    top: 14.00px;

}

.followingPage .repeatGrid2 .group360f95c002 .group35666d381a .group3415d1522b .heartbutton9e27a802 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 31.35px;
    height: 27.35px;
    left: 735.65px;
    top: 16.33px;

}

.followingPage .repeatGrid2 .group360f95c002 .group35666d381a .group3415d1522b .heartbutton9e27a802 .iconFeatherHeartac8c4dd8 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: transparent;
      stroke: rgba(5, 130, 202, 1);
          stroke-width: 3.00px;
          stroke-linecap: round;
      width: 37.35px;
    height: 33.35px;
    left: -3.00px;
    top: -3.00px;

}

.followingPage .repeatGrid2 .group36 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 832.00px;
    height: 1101.50px;
    top: 2244.00px;

}

.followingPage .repeatGrid2 .group36 .image {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 832.00px;
    height: 1017.00px;

}

.followingPage .repeatGrid2 .group36 .image .metadata {
    position: absolute;
      box-sizing: content-box;
      display: none;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: transparent;
      font-size: 3.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Arial;
      text-decoration: none;
      width: 10.00px;
    height: 10.00px;

}

.followingPage .repeatGrid2 .group36 .image .placementArea {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      background-image: url("assets/placementArea.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      border-color: rgba(62, 62, 62, 1);
      border-style: none;
      border-width: 2.00px;
      width: 832.00px;
    height: 1017.00px;

}

.followingPage .repeatGrid2 .group36 .group35 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 819.30px;
    height: 60.00px;
    left: 6.35px;
    top: 1041.50px;

}

.followingPage .repeatGrid2 .group36 .group35 .group34 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 819.30px;
    height: 60.00px;

}

.followingPage .repeatGrid2 .group36 .group35 .group34 .loremIpsum {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 50.00px;
      font-weight: 500;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 500.00px;
    height: 60.00px;

}

.followingPage .repeatGrid2 .group36 .group35 .group34 .iconAwesomeComments {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 0, 0, 1);
      width: 40.50px;
    height: 31.50px;
    left: 778.80px;
    top: 14.00px;

}

.followingPage .repeatGrid2 .group36 .group35 .group34 .heartbutton {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 31.35px;
    height: 27.35px;
    left: 735.65px;
    top: 16.33px;

}

.followingPage .repeatGrid2 .group36 .group35 .group34 .heartbutton .iconFeatherHeart {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: transparent;
      stroke: rgba(5, 130, 202, 1);
          stroke-width: 3.00px;
          stroke-linecap: round;
      width: 37.35px;
    height: 33.35px;
    left: -3.00px;
    top: -3.00px;

}

.followingPage .following {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 50.00px;
      font-weight: 700;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 213.00px;
    height: 60.00px;
    left: 378.00px;
    top: 132.00px;

}

.followingPage .logo {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 67.00px;
    height: 67.00px;
    left: 48.50px;
    top: 21.50px;

}

.followingPage .logo .group26 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      background-image: url("assets/group26.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      background-color: transparent;
      width: 67.00px;
    height: 67.00px;

}

.followingPage .logo .group26 .path6 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 112, 186, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 69.00px;
    height: 69.00px;
    left: -1.00px;
    top: -1.00px;

}

.followingPage .logo .group26 .path7 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 41, 66, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 52.98px;
    height: 51.07px;
    left: 6.56px;
    top: 7.97px;

}

.followingPage .logo .group26 .path8 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 5.76px;
    height: 28.08px;
    left: 30.56px;
    top: 19.46px;

}

.followingPage .logo .group26 .path9 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 27.41px;
    height: 5.63px;
    left: 19.80px;
    top: 30.68px;

}

.followingPage .logo .group26 .rectangle20 {
    position: absolute;
      box-sizing: content-box;
   transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      border-color: rgba(0, 0, 0, 0);
      border-style: solid;
      border-width: 1.00px;
      width: 66.00px;
    height: 66.00px;
    left: -0.50px;
    top: -0.50px;

}

.followingPage .textLogo {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 151.00px;
    height: 60.00px;
    left: 126.00px;
    top: 24.00px;

}

.followingPage .textLogo .lenses {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(5, 130, 202, 1);
      font-size: 50.00px;
      font-weight: 600;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 151.00px;
    height: 60.00px;

}

.followingPage .searchbutton {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 132.00px;
    height: 48.00px;
    left: 1237.00px;
    top: 44.00px;

}

.followingPage .searchbutton .rectangle22 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      border-color: rgba(112, 112, 112, 1);
      border-style: none;
      border-width: 1.00px;
      border-radius: 24.00px;
      width: 132.00px;
    height: 48.00px;

}

.followingPage .searchbutton .search {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 0;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 28.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 102.00px;
    height: 34.00px;
    left: 21.00px;
    top: 7.00px;

}

.followingPage .searchbutton .iconAwesomeSearch {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 0, 0, 1);
      width: 32.00px;
    height: 32.00px;
    left: 81.00px;
    top: 8.00px;

}

