@import url("main.css");

/*css for helpPage*/ 
/*help page css*/

.helpPage {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
}

/*media query - tablet/small*/
@media screen and (max-width: 567px){
  .response{
    width: 100%;
  }

  .helpimage{
    width: 440px;
    height: 120px;
  }

  .caption{
    top: 220px;
    left: 68px;
  }

  .header1{
    font-size: 30px;
  }

}

/*media query - laptop/medium**/
@media screen and (min-width: 568px){
  .response{
    width: 50%;
  }

  .helpimage{
    width: 935px;
    height: 237px;
  }

  .caption{
    left: 75px;
    top: 325px;
  }
}

/*media query - desktop/large*/
@media screen and (min-width: 1024px) {
.helpimage{
  width: 1430px;
  height: 337px;
}

  .caption{
  left: 75px;
  top:425px;
}  

.header1{
  font-size: 50px;
}
  
}

/**/
.helpimage {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-image: url("assets/placementArea.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(62, 62, 62, 1);
  border-style: none;
  border-width: 2.00px;
  left: 43px;
  top: 124px;
}

.header1{
  left: 70px;
  top: 150px;
}


/**/
/* .helpPage .helpbc01d737 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(250, 247, 240, 1);
      font-size: 50.00px;
      font-weight: 500;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 104.00px;
    height: 60.00px;
    left: 99.00px;
    top: 169.00px;

} */

/*
.helpPage .searchbutton {
  position: absolute;
  box-sizing: content-box;
transform-origin: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  color: rgba(0, 53, 84, 1);
  font-size: 20.00px;
  font-weight: 400;
font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
  width: 57.00px;
height: 24.00px;
left: 1675.00px;
top: 56.00px;

}
*/


/* .helpPage .profile {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 57.00px;
    height: 24.00px;
    left: 1675.00px;
    top: 56.00px;

} */


/* .helpPage .rectangle3 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(5, 130, 202, 1);
      border-color: rgba(112, 112, 112, 1);
      border-style: solid;
      border-width: 1.00px;
     border-radius: 10.00px;
      width: 121.00px;
    height: 36.00px;
    left: 1758.00px;
    top: 48.00px;

}


.helpPage .post {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(255, 255, 255, 1);
      font-size: 15.00px;
      font-weight: 700;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 30.00px;
    height: 18.00px;
    left: 1804.00px;
    top: 57.00px;

} */

/**/
/* .helpPage .help {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(5, 130, 202, 1);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 41.00px;
    height: 24.00px;
    

} */

/**/
/* .helpPage .discover {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 77.00px;
    height: 24.00px;
    left: 1505.00px;
    top: 56.00px;

} */

/**/
/* .helpPage .following {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 84.00px;
    height: 24.00px;
    left: 1395.00px;
    top: 56.00px;

} */

/**/
/* .helpPage .logo {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 67.00px;
    height: 67.00px;
    left: 48.50px;
    top: 21.50px;

} */

/**/
/* .helpPage .logo .group26 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      background-image: url("assets/group26.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      background-color: transparent;
      width: 67.00px;
    height: 67.00px;

} */

/**/
/* .helpPage .logo .group26 .path6 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 112, 186, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 69.00px;
    height: 69.00px;
    left: -1.00px;
    top: -1.00px;

} */


/* .helpPage .logo .group26 .path7 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 41, 66, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 52.98px;
    height: 51.07px;
    left: 6.56px;
    top: 7.97px;

}

.helpPage .logo .group26 .path8 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 5.76px;
    height: 28.08px;
    left: 30.56px;
    top: 19.46px;

}


.helpPage .logo .group26 .path9 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 27.41px;
    height: 5.63px;
    left: 19.80px;
    top: 30.68px;

}


.helpPage .logo .group26 .rectangle20 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      border-color: rgba(0, 0, 0, 0);
      border-style: solid;
      border-width: 1.00px;
      width: 66.00px;
    height: 66.00px;
    left: -0.50px;
    top: -0.50px;

}


.helpPage .textLogo {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 151.00px;
    height: 60.00px;
    left: 126.00px;
    top: 24.00px;

}


.helpPage .textLogo .lenses {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(5, 130, 202, 1);
      font-size: 50.00px;
      font-weight: 600;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 151.00px;
    height: 60.00px;

} */


/* .helpPage .yaseminmsl {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(167, 167, 167, 1);
      font-size: 20.00px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      width: 300.00px;
    height: 31.00px;
    left: 49.00px;
    top: 425.00px;

} */



/**/
.helpPage .repeatGrid3 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 1791.00px;
    height: 1097.00px;
    left: 65.00px;
    top: 522.00px;

}

/**/
/* .helpPage .repeatGrid3 .group427e44278c {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 528.00px;
    height: 433.80px;

} */

.helpBox {
  position: absolute;
  box-sizing: border-box;
  transform-origin: center;
  opacity: 1;
  fill: rgba(5, 130, 202, 0.27058823529411763);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linecap: butt;
  width: 422.4px;
  height: 347.04px;
}

.profileStyling{
  position: absolute;
  box-sizing: border-box;
  transform-origin: center; 
  stroke: rgba(112, 112, 112, 1);
  opacity: 1;
  stroke-width: 3px;
  stroke-linecap: butt;
  box-shadow: none;
  width: 102px;
  height: 102px;

  /*add this to media queries*/
  left: 100px;
}

.commentstitle{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  text-align: left;
  color: rgba(0, 100, 148, 1);
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}

.commentText{
  position: absolute;
  box-sizing: content-box;
  opacity: 1;
  text-align: left;
  color: rgba(0, 53, 84, 1);
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}

.photoTitle{
  position: absolute;
  box-sizing: content-box;
  opacity: 1;
  text-align: left;
  color: rgba(0, 100, 148, 1);
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}

.jm{
  left: 150px;
  top: 40px;
}

.jmimage{
  background-image: url(assets/placementjm.png);
  left: 22.50px;
  top: 18.00px;
}

.jmcomment{
  left: 6px;
  top: 150px;
}

.jmphoto{
  left: 140px;
  top: 90px;
}

.ar{
  left: 750px;
  top: 40px;
}

.arBox{
  left: 624.00px;
}

.arimage{
  background-image: url(assets/placementar.png);
  left: 642.50px;
  top: 18.00px;
}

.arcomment{
  left: 636.00px;
  top: 150px;
}

.arphoto{
  left: 264.00px;
  top: 136.50px;
}

.zr{

}

.zrBox{
  left: 1248.00px;
}

.zrimage{

}

.zrcomment{

}

.zrphoto{

}

/* .helpPage .repeatGrid3 .group427c5b504c {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 528.00px;
    height: 433.80px;
    

} */

/**/
/* .helpPage .repeatGrid3 .group427c5b504c .path25f3ecd73 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(5, 130, 202, 0.27058823529411763);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 528.00px;
    height: 433.80px;

} */

/**/
/* .helpPage .repeatGrid3 .group427c5b504c .group41ba749e81 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 232.00px;
    height: 232.00px;
    

} */

/**/
/* .helpPage .repeatGrid3 .group427c5b504c .group41ba749e81 .rayulM6gy9ohgiiUnsplash7eef7266 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 0);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 232.00px;
    height: 232.00px;

} */

/**/
/* .helpPage .repeatGrid3 .group427c5b504c .andresRamirez {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 206.00px;
    height: 36.00px;


} */

/**/
/* .helpPage .repeatGrid3 .group427c5b504c .iNeedSomeAdvanceAboutPricingWhenItComesToMyphotographyBusiness {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 35.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 441.00px;
    height: 126.00px;


} */

/**/
/* .helpPage .repeatGrid3 .group427c5b504c .weddingPhotographer {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 255.00px;
    height: 30.00px;
    

} */

/**/
/* .helpPage .repeatGrid3 .group42a6e656ed {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 528.00px;
    height: 433.80px;
    left: 1248.00px;

} */

/**/
/* .helpPage .repeatGrid3 .group42a6e656ed .path23ce4cb9d {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(5, 130, 202, 0.27058823529411763);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 528.00px;
    height: 433.80px;

} */

/**/
.helpPage .repeatGrid3 .group42a6e656ed .group412c97b3fb {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 232.00px;
    height: 232.00px;
    left: 22.50px;
    top: 18.00px;

}

/**/
.helpPage .repeatGrid3 .group42a6e656ed .group412c97b3fb .rayulM6gy9ohgiiUnsplashb250fec6 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 0);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 232.00px;
    height: 232.00px;

}

/**/
.helpPage .repeatGrid3 .group42a6e656ed .zacharyReese {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 190.00px;
    height: 36.00px;
    left: 282.50px;
    top: 84.00px;

}

/**/
.helpPage .repeatGrid3 .group42a6e656ed .doIReallyNeedToEditAllOfMyPhotos {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 35.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 455.00px;
    height: 84.00px;
    left: 56.00px;
    top: 273.59px;

}

/**/
.helpPage .repeatGrid3 .group42a6e656ed .casualPhotographer0dab9f4b {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 235.00px;
    height: 30.00px;
    left: 264.00px;
    top: 136.50px;

}

/**/
.helpPage .repeatGrid3 .group42df656ef6 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 528.00px;
    height: 433.80px;
    left: 0.00px;
    top: 502.00px;

}

/**/
.helpPage .repeatGrid3 .group42df656ef6 .path25b49a3c2 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(5, 130, 202, 0.27058823529411763);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 528.00px;
    height: 433.80px;

}

/**/
.helpPage .repeatGrid3 .group42df656ef6 .group4170a1eff5 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 232.00px;
    height: 232.00px;
    left: 22.50px;
    top: 18.00px;

}

/**/
.helpPage .repeatGrid3 .group42df656ef6 .group4170a1eff5 .rayulM6gy9ohgiiUnsplash5d66f5cc {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 0);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 232.00px;
    height: 232.00px;

}

/**/
.helpPage .repeatGrid3 .group42df656ef6 .vickieNunez {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 181.00px;
    height: 36.00px;
    left: 282.50px;
    top: 84.00px;

}

/**/
.helpPage .repeatGrid3 .group42df656ef6 .whatAreSomeSoftwareOptionsToRenderTheAerialImagesToBeTheClearest {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 35.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 426.00px;
    height: 126.00px;
    left: 56.00px;
    top: 273.59px;

}

/**/
.helpPage .repeatGrid3 .group42df656ef6 .aerialPhotographer {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 220.00px;
    height: 30.00px;
    left: 264.00px;
    top: 136.50px;

}

/**/
.helpPage .repeatGrid3 .group4282e18277 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 528.00px;
    height: 433.80px;
    left: 624.00px;
    top: 502.00px;

}

/**/
.helpPage .repeatGrid3 .group4282e18277 .path2fb7305b3 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(5, 130, 202, 0.27058823529411763);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 528.00px;
    height: 433.80px;

}

/**/
.helpPage .repeatGrid3 .group4282e18277 .group41bd82fc29 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 232.00px;
    height: 232.00px;
    left: 22.50px;
    top: 18.00px;

}

/**/
.helpPage .repeatGrid3 .group4282e18277 .group41bd82fc29 .rayulM6gy9ohgiiUnsplash8b202cc5 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 0);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 232.00px;
    height: 232.00px;

}

/**/
.helpPage .repeatGrid3 .group4282e18277 .evelynRodriguez {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 226.00px;
    height: 36.00px;
    left: 282.50px;
    top: 84.00px;

}

/**/
.helpPage .repeatGrid3 .group4282e18277 .whatIsTheBestWayToLearnManualMode {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 35.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 385.00px;
    height: 84.00px;
    left: 56.00px;
    top: 273.59px;

}

/**/
.helpPage .repeatGrid3 .group4282e18277 .amateurPhotographerc299fb55 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 251.00px;
    height: 30.00px;
    left: 264.00px;
    top: 136.50px;

}

/**/
.helpPage .repeatGrid3 .group429eede85f {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 528.00px;
    height: 433.80px;
    left: 1248.00px;
    top: 502.00px;

}

/**/
.helpPage .repeatGrid3 .group429eede85f .path2c10c676b {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(5, 130, 202, 0.27058823529411763);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 528.00px;
    height: 433.80px;


}

/**/
.helpPage .repeatGrid3 .group429eede85f .group41cc141243 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 232.00px;
    height: 232.00px;
    left: 22.50px;
    top: 18.00px;

}

/**/
.helpPage .repeatGrid3 .group429eede85f .group41cc141243 .rayulM6gy9ohgiiUnsplash0b3bdda7 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 0);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 232.00px;
    height: 232.00px;

}

/**/
.helpPage .repeatGrid3 .group429eede85f .dennisThompson {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 238.00px;
    height: 36.00px;
    left: 282.50px;
    top: 84.00px;

}

/**/
.helpPage .repeatGrid3 .group429eede85f .shouldIBeShootingInRawOrJpegAndWhatIsThedifference {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 35.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 461.00px;
    height: 126.00px;
    left: 56.00px;
    top: 273.59px;

}

/**/
.helpPage .repeatGrid3 .group429eede85f .casualPhotographer {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 242.00px;
    height: 30.00px;
    left: 264.00px;
    top: 136.50px;

}

/**/
.helpPage .repeatGrid3 .group420498f022 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 528.00px;
    height: 433.80px;
    top: 1004.00px;

}

/**/
.helpPage .repeatGrid3 .group420498f022 .path20f8f21bc {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(5, 130, 202, 0.27058823529411763);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 528.00px;
    height: 433.80px;

}

/**/
.helpPage .repeatGrid3 .group420498f022 .group41049a43be {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 232.00px;
    height: 232.00px;
    left: 22.50px;
    top: 18.00px;

}

/**/
.helpPage .repeatGrid3 .group420498f022 .group41049a43be .rayulM6gy9ohgiiUnsplash66721b78 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 0);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 232.00px;
    height: 232.00px;
}

/**/
.helpPage .repeatGrid3 .group420498f022 .jaimeMatthews61b4df55 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 214.00px;
    height: 36.00px;
    left: 282.50px;
    top: 84.00px;

}

/**/
.helpPage .repeatGrid3 .group420498f022 .iWantMySubjectsEyeToPopAndSparkleHowCanIgetThisc3a12127 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 35.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 416.00px;
    height: 126.00px;
    left: 56.00px;
    top: 273.59px;

}

/**/
.helpPage .repeatGrid3 .group420498f022 .amateurPhotographer68f336ff {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 251.00px;
    height: 30.00px;
    left: 264.00px;
    top: 136.50px;

}

/**/
.helpPage .repeatGrid3 .group4236e0613a {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 528.00px;
    height: 433.80px;
    left: 624.00px;
    top: 1004.00px;

}

/**/
.helpPage .repeatGrid3 .group4236e0613a .path23daadaf7 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(5, 130, 202, 0.27058823529411763);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 528.00px;
    height: 433.80px;
}

/**/
.helpPage .repeatGrid3 .group4236e0613a .group416492a052 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 232.00px;
    height: 232.00px;
    left: 22.50px;
    top: 18.00px;

}

/**/
.helpPage .repeatGrid3 .group4236e0613a .group416492a052 .rayulM6gy9ohgiiUnsplash0e5e6af5 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 0);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 232.00px;
    height: 232.00px;

}

/**/
.helpPage .repeatGrid3 .group4236e0613a .jaimeMatthewsab07a59b {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 214.00px;
    height: 36.00px;
    left: 282.50px;
    top: 84.00px;

}

/**/
.helpPage .repeatGrid3 .group4236e0613a .iWantMySubjectsEyeToPopAndSparkleHowCanIgetThisc5e22a9a {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 35.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 416.00px;
    height: 126.00px;
    left: 56.00px;
    top: 273.59px;

}

/**/
.helpPage .repeatGrid3 .group4236e0613a .amateurPhotographer0f302fe8 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 251.00px;
    height: 30.00px;
    left: 264.00px;
    top: 136.50px;

}

/**/
.helpPage .repeatGrid3 .group42 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 528.00px;
    height: 433.80px;
    left: 1248.00px;
    top: 1004.00px;

}

/**/
.helpPage .repeatGrid3 .group42 .path2 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(5, 130, 202, 0.27058823529411763);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 528.00px;
    height: 433.80px;

}

/**/
.helpPage .repeatGrid3 .group42 .group41 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 232.00px;
    height: 232.00px;
    left: 22.50px;
    top: 18.00px;

}

/**/
.helpPage .repeatGrid3 .group42 .group41 .rayulM6gy9ohgiiUnsplash {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(255, 255, 255, 0);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 232.00px;
    height: 232.00px;

}

/**/
.helpPage .repeatGrid3 .group42 .jaimeMatthews {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 214.00px;
    height: 36.00px;
    left: 282.50px;
    top: 84.00px;

}

/**/
.helpPage .repeatGrid3 .group42 .iWantMySubjectsEyeToPopAndSparkleHowCanIgetThis {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 53, 84, 1);
      font-size: 35.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 416.00px;
    height: 126.00px;
    left: 56.00px;
    top: 273.59px;

}

/**/
.helpPage .repeatGrid3 .group42 .amateurPhotographer {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 251.00px;
    height: 30.00px;
    left: 264.00px;
    top: 136.50px;

}

/*search bar css*/
/* .helpPage .searchbutton {

  display: block;
  position: absolute;
  box-sizing: content-box;
transform-origin: center;
  opacity: 1;
  background-color: transparent;
  width: 132.00px;
height: 48.00px;
left: 1237.00px;
top: 44.00px;

}

.helpPage .searchbutton .rectangle22 {
position: absolute;
  box-sizing: content-box;
transform-origin: center;
  opacity: 1;
  background-color: transparent;
  border-color: rgba(112, 112, 112, 1);
  border-style: none;
  border-width: 1.00px;
  border-radius: 24.00px;
  width: 132.00px;
height: 48.00px;

}

.helpPage .searchbutton .search {
position: absolute;
  box-sizing: content-box;
transform-origin: center;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  color: rgba(0, 53, 84, 1);
  font-size: 28.00px;
  font-weight: 400;
font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
  width: 102.00px;
height: 34.00px;
left: 21.00px;
top: 7.00px;

}

.helpPage .searchbutton .iconAwesomeSearch {
position: absolute;
  box-sizing: content-box;
transform-origin: center;
  opacity: 1;
  fill: rgba(0, 0, 0, 1);
  width: 32.00px;
height: 32.00px;
left: 81.00px;
top: 8.00px;

} */
