@import url("main.css");

/*css for helpPage*/ 
/*help page css*/

.helpPage {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
}

/*media query - tablet/small*/
@media screen and (max-width: 567px){
  .response{
    width: 100%;
  }

  .helpimage{
    width: 440px;
    height: 120px;
  }

  .caption{
    top: 220px;
    left: 68px;
  }

  .header1{
    font-size: 20px;
  }

  .profileStyling{
    left: 100px;
  }

  .jm{
    left: 150px;
    top: -190px;
  }

  .jmBox{
    top: -230px;
    left: -10px;
  }

  .jmimage{
    background-image: url(assets/placementjm.png);
    left: 22.5px;
    top: -200px;
  }
  
  .jmcomment{
    left: 6px;
    top: -80px;
  }
  
  .jmphoto{
    left: 140px;
    top: -150px;
  }
  
  .ar{
    left: 150px;
    top: 590px;
  }
  
  .arBox{
    left: -10px;
    top: 540px;
  }
  
  .arimage{
    background-image: url(assets/placementar.png);
    left: 22.5px;
    top: 570px;
  }
  
  .arcomment{
    left: 6px;
    top: 700px;
  }
  
  .arphoto{
    left: 140px;
    top: 630px;
  }
  
  .zr{
    top: 960px;
    left: 150px;
  }
  
  .zrBox{
    top: 930px;
    left: -10px;
  }
  
  .zrimage{
    background-image: url(assets/placementzr.png);
    left: 22.5px;
    top: 950px;
  }
  
  .zrcomment{
    top: 1080px;
    left: 6px;
  }
  
  .zrphoto{
  top: 1000px;
  left: 140px;
  }
  
  .vn{
    left: 160px;
    top: 200px;
  }
  
  .vnBox{
    top: 150px;
    left: -10px;
  }
  
  .vnimage{
    background-image: url(assets/placementvn.png);
    top: 180px;
    left: 20px;
  }
  
  .vncomment{
    left: 10px;
    top: 300px;
  }
  
  .vnphoto{
    left: 140px;
    top: 250px;
  }
  
  .er{
    top: 1360px;
    left: 150px;
  }
  
  .erBox{
    left: -10px;
    top: 1320px;
  }
  
  .erimage{
    background-image: url(assets/placementer.png);
    left: 22.5px;
    top: 1350px;
  }
  
  .ercomment{
    left: 6px;
    top: 1480px;
  }
  
  .erphoto{
    left: 140px;
    top: 1400px;
  }
  
  .dt{
    top: 1740px;
    left: 150px;
  }
  
  .dtBox{
    left: -10px;
    top: 1710px;
  }
  
  .dtimage{
    background-image: url(assets/placementdt.png);
    left: 22.5px;
    top: 1735px;
  }
  
  .dtcomment{
    left: 6px;
    top: 1860px;
  }
  
  .dtphoto{
    left: 140px;
    top: 1780px;
  }

}

/*media query - laptop/medium**/
@media screen and (min-width: 568px){
  .response{
    width: 50%;
  }

  .helpimage{
    width: 935px;
    height: 237px;
  }

  .caption{
    left: 75px;
    top: 325px;
  }

  .profileStyling{
    left: 100px;
  }

  .jm{
    left: 150px;
    top: -60px;
  }
  
  .jmimage{
    background-image: url(assets/placementjm.png);
    left: 18px;
    top: -80px;
  }
  
  .jmcomment{
    left: 6px;
    top: 50px;
  }

  .jmBox{
    top: -100px;
  }
  
  .jmphoto{
    left: 140px;
    top: -10px;
  }
  
  .ar{
    left: 640px;
    top: -60px;
  }
  
  .arBox{
    left: 475px;
    top:-100px;
  }
  
  .arimage{
    background-image: url(assets/placementar.png);
    left: 500px;
    top: -80px;
  }
  
  .arcomment{
    left: 490px;
    top: 50px;
  }
  
  .arphoto{
    left: 620px;
    top: -10px;
  }
  
  .zr{
    top: 750px;
    left: 150px;
  }
  
  .zrBox{
    /* left: 950px; */
    top: 700px;
  }
  
  .zrimage{
    background-image: url(assets/placementzr.png);
    left: 18px;
    top: 720px;
  }
  
  .zrcomment{
    top: 860px;
    left: 6px;
  }
  
  .zrphoto{
  top: 790px;
  left: 140px;
  }
  
  .vn{
    left: 160px;
    top: 350px;
  }
  
  .vnBox{
    top: 300px;
  }
  
  .vnimage{
    background-image: url(assets/placementvn.png);
    top: 320px;
    left: 20px;
  }
  
  .vncomment{
    left: 10px;
    top: 460px;
  }
  
  .vnphoto{
    left: 140px;
    top: 400px;
  }
  
  .er{
    top: 350px;
    left: 630px;
  }
  
  .erBox{
    left: 475px;
    top: 300px;
  }
  
  .erimage{
    background-image: url(assets/placementer.png);
    left: 500px;
    top: 320px;
  }
  
  .ercomment{
    left: 490px;
    top: 460px;
  }
  
  .erphoto{
    left: 620px;
    top: 400px;
  }
  
  .dt{
    top: 750px;
    left: 630px;
  }
  
  .dtBox{
    left: 475px;
    top: 700px;
  }
  
  .dtimage{
    background-image: url(assets/placementdt.png);
    left: 500px;
    top: 720px;
  }
  
  .dtcomment{
    left: 490px;
    top: 860px;
  }
  
  .dtphoto{
    left: 620px;
    top: 790px;
  }
}

/*media query - desktop/large*/
@media screen and (min-width: 1024px) {
.helpimage{
  width: 1430px;
  height: 337px;
}

  .caption{
  left: 75px;
  top:425px;
}  

.header1{
  font-size: 50px;
}

.profileStyling{
  left: 100px;
}

.jm{
  left: 150px;
  top: 40px;
}

.jmBox{
  top: 0px;
}

.jmimage{
  background-image: url(assets/placementjm.png);
  left: 22.5px;
  top: 18px;
}

.jmcomment{
  left: 6px;
  top: 150px;
}

.jmphoto{
  left: 140px;
  top: 90px;
}

.ar{
  left: 640px;
  top: 40px;
}

.arBox{
  left: 475px;
  top: 0px;
}

.arimage{
  background-image: url(assets/placementar.png);
  left: 500px;
  top: 18px;
}

.arcomment{
  left: 490px;
  top: 150px;
}

.arphoto{
  left: 620px;
  top: 90px;
}

.zr{
  top: 40px;
  left: 1110px;
}

.zrBox{
  left: 950px;
  top: 0px;
}

.zrimage{
  background-image: url(assets/placementzr.png);
  left: 970px;
  top: 18px;
}

.zrcomment{
  top: 150px;
  left: 970px;
}

.zrphoto{
top: 90px;
left: 1100px;
}

.vn{
  left: 160px;
  top: 450px;
}

.vnBox{
  top: 400px;
}

.vnimage{
  background-image: url(assets/placementvn.png);
  top: 420px;
  left: 20px;
}

.vncomment{
  left: 10px;
  top: 560px;
}

.vnphoto{
  left: 140px;
  top: 500px;
}

.er{
  top: 450px;
  left: 630px;
}

.erBox{
  left: 475px;
  top: 400px;
}

.erimage{
  background-image: url(assets/placementer.png);
  left: 500px;
  top: 420px;
}

.ercomment{
  left: 490px;
  top: 560px;
}

.erphoto{
  left: 620px;
  top: 500px;
}

.dt{
  top: 450px;
  left: 1110px;
}

.dtBox{
  left: 950px;
  top: 400px;
}

.dtimage{
  background-image: url(assets/placementdt.png);
  left: 970px;
  top: 420px;
}

.dtcomment{
  left: 960px;
  top: 550px;
}

.dtphoto{
  left: 1100px;
  top: 500px;
}

}

/**/
.helpimage {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-image: url("assets/placementArea.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(62, 62, 62, 1);
  border-style: none;
  border-width: 2.00px;
  left: 43px;
  top: 124px;
}

.header1{
  left: 70px;
  top: 150px;
}

/**/
.helpPage .repeatGrid3 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-color: transparent;
  left: 65.00px;
  top: 522.00px;
}

.helpBox {
  position: absolute;
  box-sizing: border-box;
  transform-origin: center;
  opacity: 1;
  fill: rgba(5, 130, 202, 0.27058823529411763);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linecap: butt;
  width: 422.4px;
  height: 347.04px;
}

.profileStyling{
  position: absolute;
  box-sizing: border-box;
  transform-origin: center; 
  stroke: rgba(112, 112, 112, 1);
  opacity: 1;
  stroke-width: 3px;
  stroke-linecap: butt;
  box-shadow: none;
  width: 102px;
  height: 102px;
}

.commentstitle{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  text-align: left;
  color: rgba(0, 100, 148, 1);
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}

.commentText{
  position: absolute;
  box-sizing: content-box;
  opacity: 1;
  text-align: left;
  color: rgba(0, 53, 84, 1);
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}

.photoTitle{
  position: absolute;
  box-sizing: content-box;
  opacity: 1;
  text-align: left;
  color: rgba(0, 100, 148, 1);
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}

/*search bar css*/
/* .helpPage .searchbutton {

  display: block;
  position: absolute;
  box-sizing: content-box;
transform-origin: center;
  opacity: 1;
  background-color: transparent;
  width: 132.00px;
height: 48.00px;
left: 1237.00px;
top: 44.00px;

}

.helpPage .searchbutton .rectangle22 {
position: absolute;
  box-sizing: content-box;
transform-origin: center;
  opacity: 1;
  background-color: transparent;
  border-color: rgba(112, 112, 112, 1);
  border-style: none;
  border-width: 1.00px;
  border-radius: 24.00px;
  width: 132.00px;
height: 48.00px;

}

.helpPage .searchbutton .search {
position: absolute;
  box-sizing: content-box;
transform-origin: center;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  color: rgba(0, 53, 84, 1);
  font-size: 28.00px;
  font-weight: 400;
font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
  width: 102.00px;
height: 34.00px;
left: 21.00px;
top: 7.00px;

}

.helpPage .searchbutton .iconAwesomeSearch {
position: absolute;
  box-sizing: content-box;
transform-origin: center;
  opacity: 1;
  fill: rgba(0, 0, 0, 1);
  width: 32.00px;
height: 32.00px;
left: 81.00px;
top: 8.00px;

} */
