@import "main.css";

/*css for homePage*/ 
/*home page class*/      
.homePage {
  display: inline;
  position: relative;
  box-sizing: content-box;
  opacity: 1;
}

/*media query - tablet/small*/
@media screen and (max-width: 567px) {
  .response{
    width: 100%;
  }

  .homeImg{
    width: 450px;
    height: 290px;
  }

  .caption{
    top: 390px;
  }

  .lensesSlogan{
    font-size: 20px;
    top: 210px;
    left: 85px;
  }

  .signUp{
    left: 100px;
    top: 255px;
    font-size: 15px;
  }

  .signUpShape{
    width: 91px;
    height: 29px;
    left: 85px;
    top: 250px;
  }
}

/*media query - laptop/medium*/
@media screen and (min-width: 568px) {
  .response{
    width: 50%;
  }

  .homeImg{
    width: 990px;
    height: 550px;
  }

  .caption{
    top: 635px;
  }

  .lensesSlogan{
    font-size: 35px;
    top: 310px;
    left: 135px;
  }

  .signUp{
    left: 188px;
    top: 400px;
    font-size: 20px;
  }

  .signUpShape{
    width: 175px;
    height: 55px;
    left: 137px;
    top: 387px;
  }
}

/*media query - desktop/large*/
@media screen and (min-width: 900px) {

  .homeImg{
  width: 1435px;
  height: 590px;
  }

  .caption{
    top: 690px;
  }

  .lensesSlogan{
    font-size: 40px;
    top: 310px;
    left: 135px;
  }

  .signUp{
    left: 188px;
    top: 400px;
    font-size: 22px;

  }

  .signUpShape{
    width: 181px;
    height: 57px;
    left: 137px;
    top: 387px;
  }
}


/*page specific styling*/
/*image styling*/
.homePage .homeImg {
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  background-image: url("assets/pexelsJohnDeLeon10413404.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 1;
  cursor: default;
  margin: 5%; 
  border-color: rgba(112, 112, 112, 1);
  border-width: 1px;   
  left: 39px;
  right: 39px;
  top: 124px;
  bottom: 50px;
}

/*company slogan styling*/
.homePage .lensesSlogan {
  position: absolute;
  box-sizing: content-box;  
  opacity: 1;
  text-align: left; 
  color: rgba(0, 100, 148, 1);
  font-weight: 500;
  font-style: normal;
  font-family: Lato, Arial;
  width: 926px;
  height: 120px;
}

/*signup rectangle styling*/
.homePage .signUpShape {
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
  background-color: rgba(250, 247, 240, 1);
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

/*signUp link styling*/
.homePage .signUp {
  position: absolute;
  box-sizing: content-box;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;    
  color: rgba(4, 25, 38, 1);    
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
  
}

/*img caption text styling*/
.homePage .caption {
  left: 49px;
}