@import "main.css";

/*css for membershipPage*/
/*memebership page class*/
.membershipPage {
  display: block;
  position: absolute;
  box-sizing: content-box;
  opacity: 1;
}

/*media query - tablet/small*/
@media screen and (max-width: 567px) {
  .response{
    width: 100%;
  }

  .memImage{
    width: 440px;
    height: 120px;
  }

  .caption{
    top: 220px;  
    left: 68px;
  }

/*text styling*/
.includes{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  color: rgba(0, 41, 66, 1);
  font-size: 30px;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
  font-weight: 700;
  width: 196px;
  height: 60px;
}

.header1{
  font-size: 30px;
}

.header2{
  font-size: 30px;
}

.paragraph{
  font-size: 15px;
 
}

/*boxA styling*/
.boxA .shapeA{
  width: 400px;
  height: 230px;
  left: 48px;
  top: 280px;
}

.boxA .header1{
  left: 100px;
  top: 290px;
}

.boxA .header2{
  left: 100px;
  top: 330px;
}

.boxA .includes{
  left: 100px;
  top: 380px;
}

.boxA .paragraph{
  left: 100px;
  top: 425px;
  width: 330px;
  height: 500px;
  text-align: left;
}

/*boxB styling*/
.boxB .shapeB{
  width: 400px;
  height: 255px;
  left: 48px;
  top: 525px;
}

.boxB .header1{
  left: 100px;
  top: 535px;
}

.boxB .header2{
  left: 100px;
  top: 575px;
}

.boxB .includes{
  left: 100px;
  top: 615px;
}

.boxB .paragraph{
  left: 100px;
  top: 660px;
  width: 330px;
  height: 500px;
  text-align: left;
}

/*boxC styling*/
.boxC .shapeC{
  width: 400px;
  height: 265px;
  left: 48px;
  top: 795px;
}

.boxC .header1{
  left: 100px;
  top: 810px;
}

.boxC .header2{
  left: 100px;
  top: 850px;
}

.boxC .includes{
  left: 100px;
  top: 880px;
}

.boxC .paragraph{
  left: 100px;
  top: 920px;
  width: 335px;
  height: 500px;
  text-align: left;
}
}

/*media query - laptop/medium*/
@media screen and (min-width: 568px) {
  .response{
    width: 50%;
  }

  .memImage{
    width: 935px;
    height: 237px;
  }

  .caption{
    left: 75px;
    top: 325px;
  }

  /*text styling*/
.includes{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  color: rgba(0, 41, 66, 1);
  font-size: 40px;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
  font-weight: 700;
  width: 196px;
  height: 60px;
}


.header1{
  font-size: 40px;
}

.header2{
  font-size: 40px;
}

.paragraph{
  font-size: 20px;
}

/*boxA styling*/
.boxA .shapeA{
  width: 300px;
  height: 450px;
  left: 48px;
  top: 425px;
}

.boxA .header1{
  left: 150px;
  top: 470px;
}

.boxA .header2{
  left: 80px;
  top: 540px;
}

.boxA .includes{
  left: 120px;
  top: 600px;
}

.boxA .paragraph{
  left: 30px;
  top: 660px;
  width: 330px;
  height: 500px;
}

/*boxB styling*/
.boxB .shapeB{
  width: 300px;
  height: 450px;
  left: 370px;
  top: 425px;
}

.boxB .header1{
  left: 500px;
  top: 470px;
}

.boxB .header2{
  left: 400px;
  top: 540px;
}

.boxB .includes{
  left: 450px;
  top: 600px;
}

.boxB .paragraph{
  left: 370px;
  top: 660px;
  width: 310px;
  height: 500px;
}

/*boxC styling*/
.boxC .shapeC{
  width: 300px;
  height: 450px;
  left: 693px;
  top: 425px;
}

.boxC .header1{
  left: 765px;
  top: 470px;
}

.boxC .header2{
  left: 720px;
  top: 540px;
}

.boxC .includes{
  left: 778px;
  top: 600px;
}

.boxC .paragraph{
  left: 710px;
  top: 660px;
  width: 280px;
  height: 500px;
}

}

/*media query - desktop/large*/
@media screen and (min-width: 1024px) {
  .memImage{
    width: 1430px;
    height: 337px; 
  }

  .caption{
    left: 75px;
    top: 425px;
  }


/*text styling*/
.includes{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  color: rgba(0, 41, 66, 1);
  font-size: 50px;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
  font-weight: 700px;
  width: 196px;
  height: 60px;
}

.header1{
  font-size: 50px;
}

.header2{
  font-size: 50px;
}

.paragraph{
  font-size: 30px;
}

/*boxA styling*/
.boxA .shapeA{
  width: 450px;
  height: 650px;
  left: 48px;
  top: 545px;
}

.boxA .header1{
  left: 220px;
  top: 620px;
}

.boxA .header2{
  left: 130px;
  top: 710px;
}

.boxA .includes{
  left: 170px;
  top: 800px;
}

.boxA .paragraph{
  left: 60px;
  top: 880px;
  width: 430px;
  height: 500px;
}

/*boxB styling*/
.boxB .shapeB{
  width: 450px;
  height: 650px;
  left: 540px;
  top: 545px;
}

.boxB .header1{
  left: 720px;
  top: 620px;
}

.boxB .header2{
  left: 623px;
  top: 710px;
}

.boxB .includes{
  left: 680px;
  top: 800px;
}

.boxB .paragraph{
  left: 560px;
  top: 880px;
  width: 430px;
  height: 500px;
}

/*boxC styling*/
.boxC .shapeC{
  width: 450px;
  height: 650px;
  left: 1033px;
  top: 545px;
}

.boxC .header1{
  left: 1165px;
  top: 620px;
}

.boxC .header2{
  left: 1120px;
  top: 710px;
}

.boxC .includes{
  left: 1178px;
  top: 800px;
}

.boxC .paragraph{
  left: 1054px;
  top: 880px;
  width: 430px;
  height: 500px;
}
}


/*page specific styling*/
/*image styling*/
.membershipPage  .memImage {
  display: block;
  position: absolute;
  box-sizing: content-box;
  background-image: url("assets/danielsarmiento.png");
  transform-origin: center;
  opacity: 1;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgba(62, 62, 62, 1);
  border-style: none;
  border-width: 2px;
  left: 43px;
  top: 124px;
}

/*paragraph styling*/
.paragraph{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  color: rgba(0, 41, 66, 1);
  font-weight: 400;
  font-style: normal;
  font-family: 'Segoe UI', Arial;
  text-decoration: none;
}


/*A: box and shape styling*/
.membershipPage .boxA .shapeA {
  position: absolute;
  transform-origin: center;
  box-sizing: border-box;
  opacity: 0.4000000059604645;
  background-color: rgba(5, 130, 202, 1);
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}


/*B: box and shape styling*/
.membershipPage .boxB .shapeB{
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 0.4000000059604645;
  background-color: rgba(5, 130, 202, 1);
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}


/*C: box and shape styling*/
.membershipPage .boxC .shapeC{
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 0.4000000059604645;
  background-color: rgba(5, 130, 202, 1);
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}