/*class for settings*/ 

/*need to include css for the responsiveness - media queries*/
/*reogranzie to make sense*/
/*try to combine classes into one*/
/*tidy up code*/
/*when theres time remain everything to make sense*/

/*body class*/
  body {
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-color: rgba(250, 247, 240, 1);
    }

      
/*settings main class*/
      .settings {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(250, 247, 240, 1);
      width: 1920.00px;
    height: 1080.00px;
}

/**/
.settings .settings28ae6254 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 100, 148, 1);
      font-size: 75.00px;
      font-weight: 700;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      width: 493.00px;
    height: 116.00px;
    left: 665.00px;
    top: 148.00px;

}

/**/
.settings .group16 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 1437.00px;
    height: 862.00px;
    left: 214.00px;
    top: 109.00px;

}

/**/
.settings .group16 .rectangle9 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 0.6899999976158142;
      background-color: transparent;
      border-color: rgba(112, 112, 112, 1);
      border-style: solid;
      border-width: 1.00px;
      border-radius: 10.00px;
      box-shadow: none;
      width: 1437.00px;
    height: 862.00px;

}

/**/
.settings .group16 .path13 {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 0;
      fill: transparent;
      box-shadow: none;
      width: 1437.00px;
    height: 862.00px;
}

/**/
.settings .group16 .accountInformationupdateProfileInformationblockMatureContenteditMembershipupdatePrivacyInformationblockedUsers {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 0, 0, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      width: 951.00px;
    height: 226.00px;
    left: 302.00px;
    top: 149.00px;

}

/**/
.settings .group16 .accountInformationupdateProfileInformationblockMatureContenteditMembershipupdatePrivacyInformationblockedUsers .accountInformationupdateProfileInformationblockMatureContenteditMembershipupdatePrivacyInformationblockedUsers-0 {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 36.00px;
    font-family: Lato, Arial;
    text-decoration: none;
}

/**/
.settings .group16 .accountInformationupdateProfileInformationblockMatureContenteditMembershipupdatePrivacyInformationblockedUsers .accountInformationupdateProfileInformationblockMatureContenteditMembershipupdatePrivacyInformationblockedUsers-20 {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 30.00px;
    font-family: Lato, Arial;
    text-decoration: none;
}

/**/
.settings .group16 .notificationsnotificationSummarydiscoverActivitynewsletteremailNotificationsbrowserNotifications {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 0, 0, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      width: 951.00px;
    height: 244.00px;
    left: 302.00px;
    top: 405.00px;

}

/**/
.settings .group16 .notificationsnotificationSummarydiscoverActivitynewsletteremailNotificationsbrowserNotifications .notificationsnotificationSummarydiscoverActivitynewsletteremailNotificationsbrowserNotifications-0 {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 36.00px;
    font-family: Lato, Arial;
    text-decoration: none;
}

/**/
.settings .group16 .notificationsnotificationSummarydiscoverActivitynewsletteremailNotificationsbrowserNotifications .notificationsnotificationSummarydiscoverActivitynewsletteremailNotificationsbrowserNotifications-14 {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 30.00px;
    font-family: Lato, Arial;
    text-decoration: none;
}

/**/
.settings .group16 .deleteAccountwouldYouLikeToDeleteYouAccountiWantToDeleteMyAccount {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(0, 0, 0, 1);
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      width: 951.00px;
    height: 121.00px;
    left: 302.00px;
    top: 671.00px;

}

/**/
.settings .group16 .deleteAccountwouldYouLikeToDeleteYouAccountiWantToDeleteMyAccount .deleteAccountwouldYouLikeToDeleteYouAccountiWantToDeleteMyAccount-0 {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 36.00px;
    font-family: Lato, Arial;
    text-decoration: none;
}

/**/
.settings .group16 .deleteAccountwouldYouLikeToDeleteYouAccountiWantToDeleteMyAccount .deleteAccountwouldYouLikeToDeleteYouAccountiWantToDeleteMyAccount-14 {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 25.00px;
    font-family: Lato, Arial;
    text-decoration: none;
}

/**/
.settings .group16 .deleteAccountwouldYouLikeToDeleteYouAccountiWantToDeleteMyAccount .deleteAccountwouldYouLikeToDeleteYouAccountiWantToDeleteMyAccount-15 {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 30.00px;
    font-family: Lato, Arial;
    text-decoration: none;
}

/**/
.settings .group16 .deleteAccountwouldYouLikeToDeleteYouAccountiWantToDeleteMyAccount .deleteAccountwouldYouLikeToDeleteYouAccountiWantToDeleteMyAccount-53 {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 30.00px;
    font-family: Lato, Arial;
    text-decoration: none;
}

/**/
.settings .iconAwesomeArrowLeft {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 53, 84, 1);
      box-shadow: none;
      width: 41.50px;
    height: 40.45px;
    left: 76.25px;
    top: 124.00px;

}

/**/
.settings .iconMaterialAccountBox {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 53, 84, 1);
      box-shadow: none;
      width: 160.00px;
    height: 160.00px;
    left: 300.88px;
    top: 292.94px;

}

/**/
.settings .iconMaterialNotifications {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 53, 84, 1);
      box-shadow: none;
      width: 160.00px;
    height: 160.00px;
    left: 302.00px;
    top: 540.00px;

}

/**/
.settings .iconMaterialDelete {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      fill: rgba(0, 53, 84, 1);
      box-shadow: none;
      width: 160.00px;
    height: 160.00px;
    left: 302.00px;
    top: 770.00px;

}

/**/
.settings .group54 {

      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: transparent;
      width: 265.00px;
    height: 94.00px;
    left: 1376.00px;
    top: 863.00px;

}

/**/
.settings .group54 .rectangle3 {
    position: absolute;
      box-sizing: border-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(5, 130, 202, 1);
      border-color: rgba(112, 112, 112, 1);
      border-style: solid;
      border-width: 1.00px;
     
      border-radius: 10.00px;

      box-shadow: none;
      width: 265.00px;
    height: 94.00px;


}

/**/
.settings .group54 .signOut {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(250, 247, 240, 1);
      font-size: 50.00px;
      font-weight: 700;
    font-style: normal;
      font-family: Lato, Arial;
      text-decoration: none;
      white-space: pre;
      width: 181.00px;
    height: 60.00px;
    left: 42.00px;
    top: 17.00px;

}

