@import "main.css";

/*css for settings*/ 
/*settings class*/
.settings {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
}

/*media query - tablet/small*/
@media screen and (max-width: 567px) {
  .header{
    font-size: 50px;
    left: 175px;
  }
  
  .border{
    top: 50px;
    left: 50px;
    width: 437px;
    height: 800px;
  }
  
  .header2{
    font-size: 25px;
  }
  
  .textstyle{
    font-size: 20px;
    top: 349px;
  }
  
  .pageformat1{
    position: absolute;
    left: 0px;
    top: 70px;
    width: 251px;
  }
  
  .pageformat2{
    position: absolute;
    left: 0px;
    top: 270px;
    width: 251px;
  }
  
  .pageformat3{
    position: absolute;
    left: 0px;
    top: 470px;
    width: 201px;
  }

    /*account image*/
    .iconMaterialAccountBox {
      top: 200px;
      left: 90px;
      width: 100px;
      height: 100px;
    }
    
    /*notification bell*/
    .iconMaterialNotifications {
      top: 400px;
      left: 90px;
      width: 100px;
      height: 100px;
    }
    
    /*trash can*/
    .iconMaterialDelete {    
      top: 578px;
      left: 90px;
      width: 100px;
      height: 100px;
    }
  
  .rectangle3{
    left: 150px;
    top: 750px;
  } 
  
  .signOut{
    left: 190px;
    top: 758px;
  }

}

/*media query - laptop/medium*/
@media screen and (min-width: 568px) {
  .header{
    font-size: 65px;
    left: 350px;
  }
  
  .border{
    top: 50px;
    left: 50px;
    width: 837px;
    height: 862px;
  }
  
  .header2{
    font-size: 30px; 
  }
  
  .textstyle{
    font-size: 24px;
    top: 349px;
  }
  
  .pageformat1{
    position: absolute;
    left: 70px;
    top: 105px;
    width: 900px;
  }
  
  .pageformat2{
    position: absolute;
    left: 70px;
    top: 345px;
    width: 951px;
  }
  
  .pageformat3{
    position: absolute;
    left: 70px;
    top: 605px;
    width: 901px;
  }
  
  /*account image*/
  .iconMaterialAccountBox {
    top: 225px;
    left: 100px;
    width: 160px;
    height: 160px;
  }
  
  /*notification bell*/
  .iconMaterialNotifications {
    top: 480px;
    left: 100px;
    width: 160px;
    height: 160px;
  }
  
  /*trash can*/
  .iconMaterialDelete {    
    top: 700px;
    left: 100px;
    width: 160px;
    height: 160px;
  }
  
  .rectangle3{
    left: 600px;
    top: 800px;
  } 
  
  .signOut{
    left: 642px;
    top: 817px;
  }

}

/*media query - desktop/large*/
@media screen and (min-width: 1024px) {
.header{
  font-size: 75px;
  left: 600px;
}

.border{
  top: 50px;
  left: 50px;
  width: 1437px;
  height: 862px;
}

.header2{
  font-size: 36px;
}

.textstyle{
  font-size: 30px;
  left: 270px;
  top: 349px;
}

.pageformat1{
  position: absolute;
  left: 270px;
  top: 100px;
  width: 900px;
}

.pageformat2{
  position: absolute;
  left: 270px;
  top: 340px;
  width: 951px;
}

.pageformat3{
  position: absolute;
  left: 270px;
  top: 600px;
  width: 901px;
}

/*account image*/
.iconMaterialAccountBox {
  top: 250px;
  left: 250px;
  width: 160px;
  height: 160px;
}

/*notification bell*/
.iconMaterialNotifications {
  top: 480px;
  left: 250px;
  width: 160px;
  height: 160px;
}

/*trash can*/
.iconMaterialDelete {    
  top: 700px;
  left: 250px;
  width: 160px;
  height: 160px;
}

.rectangle3{
  left: 1200px;
  top: 800px;
} 

.signOut{
  left: 1242px;
  top: 817px;
}
}

/*main header*/
.header {
  position: absolute;
  opacity: 1;
  text-align: center;
  color: rgba(0, 100, 148, 1);
  font-weight: 700;
  font-family: Lato, Arial;
  top: 70px;
}

/*page prepositioning*/
.pageposition {
  display: block;
  position: absolute;
  left: 214px;
  top: 109px;
}

/*border styling*/
.border {
  position: absolute;
  box-sizing: border-box;
  transform-origin: center;
  opacity: 0.6899999976158142;
  background-color: transparent;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: none;
}

/*secondary header*/
.header2{
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: underline;
}

/*text styling*/
.textstyle{
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
}

.iconstyle{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  fill: rgba(0, 53, 84, 1);
  box-shadow: none;
}

/*buttonshape*/
.rectangle3 {
    width: 265.00px;
    height: 94.00px;
}

/*buttonlink*/
.signOut {
  font-size: 50px;
  font-weight: 700;
  width: 181px;
  height: 60px;
}