@import "main.css";

/*css for signupPage*/ 
/*signup page class*/
.signUpPage {
  display: block;
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
}

/*media query - tablet/small*/
@media screen and (max-width: 567px) {
  .response{
    width: 100%;
  }

  .liButton{
    width: 150px;
    height: 57px;
    left: 50px;
    top: 190px;
  }
  
  .suButton{
    width: 150px;
    height: 57px;
    left: 250px;
    top: 190px;
  }


.logIn{
  left: 100px;
  top: 200px;
  font-size: 22px;
}

.signup{
  left: 290px;
  top: 200px;
  font-size: 22px;
}


/*label font size and positioning*/
label {
  font-size: 15px;
}

.firstName{
  left: 75px;
  top: 300px;
}

.lastName{
  left: 75px;
  top: 400px;
}

.username{
  left: 75px;
  top: 500px;
}

.password{
  left: 75px;
  top: 600px;
}

/*input box positions*/
.input_fn {
  width: 270px;
  left: 75px;
  top: 325px;
}

.input_ln {
  width: 270px;
  left: 75px;
  top: 425px;
}

.input_un {
  width: 270px;
  left: 75px;
  top: 525px;
}

.input_pw {
  width: 270px;
  left: 75px;
  top: 625px;
}

.text{
  font-size: 20px;
}

.iconAwesomeFacebook{
  left: 125px;
  top: 780px;
}

.iconAwesomeGoogle{
  left: 175px;
  top: 780px;
}

.iconAwesomeTwitter{
  left: 225px;
  top: 780px;
}

.iconAwesomeLinkedin{
  left: 275px;
  top: 780px;
}

input[type=submit] {
  left: 150px;
  top: 700px;
}

.orLogInWith{
  left: 150px;
  top: 745px;
}

.line2{
  left: 200px;
  top: 720px;
  width: 180px;
  height: 0px;
}

.line3{
  left: 530px;
  top: 720px;
  width: 180px;
  height: 0px;
}

.alreadyAUserSignIn {
  left: 120px;
  top: 825px;
}
}


/*media query - laptop/medium*/
@media screen and (min-width: 568px) {
  .response{
    width: 50%;
  }

  .liButton{
    width: 181px;
    height: 57px;
    left: 200px;
    top: 190px;
  }
  
  .suButton{
    width: 181px;
    height: 57px;
    left: 500px;
    top: 190px;
  }


.logIn{
  left: 265px;
  top: 200px;
  font-size: 22px;
}

.signup{
  left: 565px;
  top: 200px;
  font-size: 22px;
}


/*label font size and positioning*/
label {
  font-size: 20px;
}

.firstName{
  left: 100px;
  top: 300px;
}

.lastName{
  left: 500px;
  top: 300px;
}

.username{
  left: 100px;
  top: 415px;
}

.password{
  left: 100px;
  top: 530px;
}

/*input box positions*/
.input_fn {
  width: 337px;
  left: 100px;
  top: 350px;
}

.input_ln {
  width: 337px;
  left: 500px;
  top: 350px;
}

.input_un {
  width: 743px;
  left: 100px;
  top: 455.00px;
}

.input_pw {
  width: 743px;
  left: 100px;
  top: 565px;
}

.text{
  font-size: 20px;
}

.iconAwesomeFacebook{
  left: 370px;
  top: 750px;
}

.iconAwesomeGoogle{
  left: 420px;
  top: 750px;
}

.iconAwesomeTwitter{
  left: 470px;
  top: 750px;
}

.iconAwesomeLinkedin{
  left: 520px;
  top: 750px;
}

input[type=submit] {
  left: 400px;
  top: 645px;
}

.orLogInWith{
  left: 390px;
  top: 705px;
}

.line2{
  left: 200px;
  top: 720px;
  width: 180px;
  height: 1px;
}

.line3{
  left: 530px;
  top: 720px;
  width: 180px;
  height: 1px;
}

.alreadyAUserSignIn {
  left: 100px;
  top: 800px;
}

}


/*media query - desktop/large*/
@media screen and (min-width: 1024px) {
  .liButton{
    width: 181px;
    height: 57px;
    left: 500px;
    top: 190px;
  }
  
  .suButton{
    width: 181px;
    height: 57px;
    left: 800px;
    top: 190px;
  }


.logIn{
  left: 565px;
  top: 200px;
  font-size: 22px;
}

.signup{
  left: 860px;
  top: 200px;
  font-size: 22px;
}


/*label font size and positioning*/
label {
  font-size: 25px;
}

.firstName{
  left: 400px;
  top: 300px;
}

.lastName{
  left: 825px;
  top: 300px;
}

.username{
  left: 400px;
  top: 415px;
}

.password{
  left: 400px;
  top: 530px;
}

/*input box positions*/
.input_fn {
  width: 337px;
  left: 400px;
  top: 350px;
}

.input_ln {
  width: 337px;
  left: 825px;
  top: 350px;
}

.input_un {
  width: 743px;
  left: 400px;
  top: 455.00px;
}

.input_pw {
  width: 743px;
  left: 400px;
  top: 565px;
}

.text{
  font-size: 20px;
}

.iconAwesomeFacebook{
  left: 670px;
  top: 750px;
}

.iconAwesomeGoogle{
  left: 720px;
  top: 750px;
}

.iconAwesomeTwitter{
  left: 770px;
  top: 750px;
}

.iconAwesomeLinkedin{
  left: 820px;
  top: 750px;
}

input[type=submit] {
  left: 700px;
  top: 640px;
}

.orLogInWith{
  left: 690px;
  top: 705px;
}

.line2{
  left: 500px;
  top: 720px;
  width: 180px;
  height: 1px;
}

.line3{
  left: 830px;
  top: 720px;
  width: 180px;
  height: 1px;
}

.alreadyAUserSignIn {
  left: 400px;
  top: 800px;
}
}

.buttonBar .liButton{
  position: absolute;
  box-sizing: border-box;
  transform-origin: center;
  opacity: 1;
  background-color: rgba(5, 130, 202, 1);
  border-color: rgba(167, 167, 167, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.buttonBar .logIn{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  color: rgba(253, 253, 253, 1);
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}

.buttonBar .suButton{
  position: absolute;
  box-sizing: border-box;
  transform-origin: center;
  opacity: 1;
  
  background-color: rgba(253, 253, 253, 1);
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.buttonBar .signup{
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  
  color: rgba(112, 112, 112, 1);
  font-weight: 400;
  font-style: normal;
  font-family: Lato, Arial;
  text-decoration: none;
  white-space: pre;
}